.error-message {
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;

  color: #d32f2f;

  display: block;
  text-align: left;
  animation: fadeIn 0.3s ease-in-out;
}
::ng-deep .mat-mdc-form-field {
  color: var(--textColor) !important;
  border-color: var(--textColor) !important;
  width: 100%;
}
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: var(--textColor) !important;
  border-color: var(--textColor) !important;
}

input {
  color: var(--textColor) !important;
  border-color: var(--textColor) !important;
}

textarea {
  color: var(--textColor) !important;
  border-color: var(--textColor) !important;
}
button {
  font-size: 16px;

  color: var(--textColor) !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
form {
  padding: 12px;
}
h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--textColor);
  margin-bottom: 12px;
  margin-top: 12px;
}
