<div class="test-information">
  <h2>Тест на травматичну чуттєвість</h2>
  <p>
    Як ти реагуєш на критику та зауваження? Чи легко сприймаєш думку інших, чи
    кожне слово залишає слід у твоїй душі?
  </p>
  <p>
    Деякі люди стійкі до коментарів, інші ж можуть відчувати емоційний
    дискомфорт навіть від незначних слів. Цей тест допоможе оцінити рівень твоєї
    чутливості у різних сферах життя.
  </p>
  <p>
    Дізнайся, як твоє сприйняття впливає на стосунки, роботу, емоційний стан та
    самопочуття.
  </p>
  <h3>Що ти отримаєш?</h3>
  <ul>
    <li>✅ Оцінку рівня твоєї емоційної чутливості</li>
    <li>✅ Аналіз впливу зауважень на твій психологічний стан</li>
    <li>✅ Поради щодо розвитку стійкості до критики</li>
    <li>✅ Рекомендації для гармонійного спілкування</li>
  </ul>

  <button class="link-btn" routerLink="/tests/traumatic-sensitivity/questions">
    👉 Пройти тест
  </button>
</div>
