<label
  class="label subtitle"
  [class.higher-options]="testName === mainTestNames.Traumatic"
  [ngClass]="'label-' + (answerIndex + 1)"
>
  <input
    [formControlName]="questionsId.toString()"
    (click)="
      answerQuestionByClick(
        answer.point + (answer.type ? '-' + answer.type : ''),
        questionsId.toString()
      )
    "
    type="radio"
    [value]="answer.point + (answer.type ? '-' + answer.type : '')"
  />

  <span
    [appTypingAnimation]="answer.text"
    [typingSpeed]="20 * (answerIndex + 1)"
  >
    {{ answer.text }}
  </span>
</label>
