<div class="container">
  <ng-container *ngIf="clicksData$ | async as clicksData">
    @if(clicksData){
    <ng-container *ngIf="clicksData.telegram as telegram">
      <div class="links-clicks">
        Clicks on telegram-buttons: {{ telegram.amountClick }}
      </div>
      <br />
    </ng-container>
    <ng-container *ngIf="clicksData.instagram as instagram">
      <div class="links-clicks">
        Clicks on instagram-buttons: {{ instagram.amountClick }}
      </div>
    </ng-container>
    <ng-container *ngIf="clicksData.modalButton as modalButton">
      <div class="links-clicks">
        Clicks on modal-buttons: {{ modalButton.amountClick }}
      </div>
    </ng-container>
    } @else {
    <h3>No clicks yet</h3>
    }
  </ng-container>
</div>
