<div
  class="question-container instructions-container"
  [class.paid-container]="isTestPrice()"
  @fadeIn
>
  <div class="price" [class.paid-test]="isTestPrice()">
    {{ testPriceState }}
  </div>
  <div class="instructions-header" @fadeIn>
    <ng-lottie
      [options]="options"
      [styles]="{ width: '200px', height: '200px' }"
    ></ng-lottie>
    <h3 class="title-primary">
      {{ testsInstruction.testTitle }}
    </h3>
  </div>

  <br />
  <h3 class="subtitle">
    <strong>
      {{ testsInstruction.instructionsTitle }}
    </strong>
  </h3>
  <ul class="instructions-list">
    <li
      class="subtitle"
      *ngFor="let instructionItem of testsInstruction?.steps; let i = index"
    >
      {{ instructionItem }}
    </li>
  </ul>
  <br />

  <div class="btn-wrapper">
    <app-primary-btn
      [textBtn]="'Почати тест'"
      (onClick)="hideTextBoardOnClick()"
    ></app-primary-btn>
  </div>

  <div class="fixed-btn-wrapper">
    <button (click)="hideTextBoardOnClick()">Почати тест</button>
  </div>
</div>
