.marquee {
  padding: 8px 0;
  font-size: 0.8rem;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #cebe30;
  font-weight: bold;
  position: relative;
  @media screen and (min-width: 764px) {
    font-size: 1rem;
    margin-top: 16px;
  }
}

.marquee .line-text {
  display: inline-block;
  color: #000;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

.success-message {
  border-radius: 5px;
  border: 1px solid #c3e6cb;
  margin-top: 10px;
  padding: 15px;

  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
  text-align: center;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
