.test {
  width: 100%;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  position: relative;
  @media screen and (min-width: 764px) {
    padding: 40px 20px;
  }
  .test-svg {
    width: 80%;
    height: 80%;
    top: 30%;
    opacity: 0.6;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);

    position: absolute;
  }
}
// ERROR
.test-error {
  border: 1px solid red;
  padding: 6px;
  border-radius: 8px;
}
.response-message {
  padding: 8px;
  border-radius: 1rem;

  border: 1px solid green;

  box-sizing: border-box;
}
