<section
  class="container consultations"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <div class="consultations-cards carousel">
    @for (card of cards; track $index) {
    <div
      class="slide-card"
      [style.transform]="'translateX(-' + currentIndex() * 100 + '%)'"
      [class.active]="$index === currentIndex()"
    >
      <div class="card">
        <app-consultations-card [card]="card"></app-consultations-card>
      </div>
    </div>
    }
  </div>
  <div class="consultations-control-btns">
    <app-slider-controls-btn
      [controlsInside]="false"
      (next)="next()"
      (prev)="prev()"
    ></app-slider-controls-btn>
  </div>
</section>
