<section class="results-container hover-container consultations">
  <div
    class="slider"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
  >
    <ul class="consultations-cards carousel">
      @for (card of cards; track $index) {
      <li
        [style.transform]="'translateX(-' + currentIndex() * 100 + '%)'"
        class="slide"
        [class.active]="$index === currentIndex()"
      >
        <h3 class="card-title title-primary">{{ card.title }}</h3>

        <div class="consultations-card">
          <h4 class="subtitle">{{ card.list.titleList }}</h4>
          <ul class="card-list">
            @for (item of card.list.listCards; track $index) {
            <li>
              <div class="dot"></div>
              <p class="subtitle">
                {{ item }}
              </p>
            </li>
            }
          </ul>
        </div>
        <div class="icons-container">
          <ul class="icons-list">
            <li>
              <mat-icon class="items-icon" svgIcon="pin"></mat-icon>
              <p class="subtitle">онлайн або офлайн у Києві</p>
            </li>
            <li>
              <div class="item-info">
                <mat-icon class="items-icon" svgIcon="back-in-time"></mat-icon>
                <p class="subtitle">60 хв</p>
              </div>
              <div class="item-info">
                <mat-icon class="items-icon" svgIcon="coins"></mat-icon>
                <p class="subtitle">980 грн</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="information">
          <p class="main-text subtitle">Не підійде, якщо:</p>
          <p class="subtitle">
            {{ card.unfit }}
          </p>
        </div>
      </li>
      }
    </ul>
  </div>
  <div class="consultations-control-btns">
    <app-slider-controls-btn
      [controlsInside]="false"
      (next)="next()"
      (prev)="prev()"
    ></app-slider-controls-btn>
  </div>

  <div class="consultations-btn-wrapper">
    <app-primary-btn
      [isPulsationAnimation]="true"
      [classColor]="'red-btn'"
      [textBtn]="'Записатися'"
      (onClick)="openDialog()"
    ></app-primary-btn>
  </div>
</section>
