.card {
  padding: 24px;
  min-width: 350px;
  max-width: 350px;
  height: 450px;
  gap: 16px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;

  .badge {
    display: none;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .card-content {
    position: relative;

    .time-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-bottom: 16px;
    }

    .time-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .time {
      font-size: 14px;
      text-align: left;
      color: #057988;
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      color: #057988;
      margin-bottom: 16px;
      text-align: center;
    }

    .subtitle {
      display: none;
    }
  }

  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-frame {
      position: relative;
      min-width: 160px;
      max-width: 160px;
      height: 160px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

::ng-deep .time-wrapper .items-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

// VIP версия карточки
.vip-card {
  .badge {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 10px;
    max-width: 160px;
    background: #64991f;
    color: #fff;
  }

  h2 {
    position: relative;
    font-size: 2rem;
    color: #ffd700;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent
      );
      transform: skewX(-20deg);
      animation: shine 4s infinite;
    }
  }

  @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  opacity: 0;
  z-index: 0;
  object-fit: fill;
  display: flex;
  justify-content: center;
  will-change: opacity;
  transition: all 0.5s ease-in-out;

  &.img-show {
    opacity: 1;
    z-index: 2;
  }
}
