<div class="card vip-card">
  <div class="card-content">
    <div class="card-content-header">
      <div class="time-container">
        <mat-icon class="items-icon" svgIcon="clock"></mat-icon>
        <p class="time">
          {{ card.time }}
        </p>
      </div>

      @if(testPrice$|async; as testPrice){
      <span class="badge" [class.paid-badge]="testPrice === paidPriceText">
        {{ testPrice }}</span
      >
      }
    </div>

    <h2 class="title">{{ card.title }}</h2>
    <p class="subtitle">{{ card.subtitle }}</p>
  </div>

  <div class="btn-wrapper">
    <div class="carousel-wrapper">
      <div
        class="carousel-frame"
        [class.smaller-frame]="card.title.includes('Яка ти кава')"
        (mouseenter)="startCarousel()"
        (mouseleave)="stopCarousel()"
      >
        @for (imgUrl of card.imgList; track $index) {

        <img
          [src]="this.card.imageUrl + 'carousel/' + imgUrl + '.svg'"
          [class.img-show]="currentIndex() === $index"
          class="carousel-img"
          alt="Test image"
        />
        }
      </div>
    </div>
    <!--  -->

    <div class="fixed-btn-wrapper">
      <button (click)="startTest()">Почати тест</button>
    </div>
    <!--  -->
  </div>
</div>
