.start-test {
  padding: 0;
  min-width: 164px;
  max-height: 48px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 0 !important;
  max-width: max-content;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4ea524;
  &:hover {
    background: #4ea524;
  }
  &:focus {
    box-shadow: none;
    outline: 2px solid #53b125 !important;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    padding: 12px 20px;
    font-size: 16px;
  }
}
