.footer {
  background: var(--bgColorGradient);
  color: var(--textColor);
  text-align: center;
  padding: 1.5rem 0;
  margin-top: auto;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  a {
    text-decoration: underline;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p {
      margin: 0;
      font-size: 16px;
      color: var(--textColor);
    }
  }

  @media (min-width: 768px) {
    padding: 40px 0;
  }
}
