<div class="container" *ngIf="questions">
  <div class="question-quantity">{{ questions.length | questionWord }}</div>

  <app-refresh-button (refreshTest)="refreshTest()"></app-refresh-button>
  <mat-tab-group [(selectedIndex)]="currentQuestionNumber">
    <form [formGroup]="formGroup">
      <ng-container *ngFor="let q of questions; let i = index">
        <mat-tab [label]="q.id.toString()">
          <div class="question-card">
            <div *ngIf="q">
              <h3>{{ q.question }}</h3>
              <div class="answers">
                <div class="line"></div>
                <label
                  class="label"
                  *ngFor="let answer of q.answers; let answerIndex = index"
                >
                  <input
                    [formControlName]="q.id.toString()"
                    (click)="
                      forceChangeControl(
                        q.id,
                        answer.point + (answer.type ? '-' + answer.type : '')
                      )
                    "
                    type="radio"
                    [value]="
                      answer.point + (answer.type ? '-' + answer.type : '')
                    "
                  />
                  <div
                    class="button"
                    [class.coloredLabel]="coloredLabel"
                    [ngClass]="
                      'button-' +
                      (q.answers.length - (answerIndex + 1)).toString()
                    "
                  >
                    <span class="edge"></span>
                    <span class="front text"> </span>
                  </div>
                  <span>
                    {{ answer.text }}
                  </span>
                </label>
              </div>
            </div>
          </div>

          <app-secondary-btn
            *ngIf="formGroup.valid"
            [btnTitle]="'Результати'"
            (onClick)="getSubmit()"
          ></app-secondary-btn>
        </mat-tab>
      </ng-container>
    </form>
  </mat-tab-group>
  <div
    class="error-message"
    *ngIf="getInvalidControls()?.length && currentQuestionNumber > 89"
  >
    Будь ласка, дайте відповідь на всі питання.
  </div>
</div>
