<div class="container" *ngIf="questions">
  @if(!isStartTest()){
  <div class="instruction">
    <h3>Як почати свій шлях до глибшого розуміння себе</h3>
    <ul>
      <li>1. Пройди короткий тест — це займе лише кілька хвилин</li>
      <li>
        2. Ознайомся з результатами й дізнайся більше про свої сильні сторони
      </li>
      <li>
        3. Натисни «ПЕРСОНАЛЬНИЙ РОЗБІР» — і переходь в мій
        <a
          class="social-link"
          target="_blank"
          href="https://www.instagram.com/depth_seekerr?igsh=MTZuNGxudnNrNWYzeg%3D%3D&utm_source=qr"
        >
          Instagram
        </a>
        або
        <a
          class="social-link"
          target="_blank"
          href="https://t.me/alex_andrusishin"
          >Telegram </a
        >. Напиши в директ, щоб отримати гайд 🎁 та записатись на глибокий
        розбір твого типу особистості ✨

        <!-- 
         Натискай кнопку «ПЕРСОНАЛЬНИЙ РОЗБІР», надсилай форму — і я розповім,
        як потрапити на професійний розбір твого типу особистості. Також
        отримаєш подарунок — гайд, що допоможе краще пізнати себе 🎁 -->
      </li>
    </ul>
    <br />

    <div style="display: flex; justify-content: center">
      <app-secondary-btn
        [textBtn]="'Почати тест'"
        (onClick)="startTestOnClick()"
      ></app-secondary-btn>
    </div>
  </div>

  }@else {

  <div class="wrapper">
    <div class="question-quantity">
      {{ questions.length | questionWord }}
    </div>

    <app-refresh-button (refreshTest)="refreshTest()"></app-refresh-button>
    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.background]="colorProgressBar()"
        [style.width.%]="progressPercentage"
      >
        <span class="percentages-text"
          >{{ progressPercentage | number : "1.0-0" }}%</span
        >
      </div>
    </div>
  </div>

  <mat-tab-group [(selectedIndex)]="currentQuestionNumber">
    <form [formGroup]="formGroup">
      <ng-container *ngFor="let q of questions; let i = index">
        <mat-tab [label]="q.id.toString()">
          <div class="shadow-container"></div>
          <div class="question-card">
            <div *ngIf="q">
              <h3 class="question">{{ q.question }}</h3>
              <div class="answers">
                <div class="line"></div>
                <label
                  class="label"
                  *ngFor="let answer of q.answers; let answerIndex = index"
                >
                  <input
                    [formControlName]="q.id.toString()"
                    (click)="
                      forceChangeControl(
                        q.id,
                        answer.point + (answer.type ? '-' + answer.type : '')
                      )
                    "
                    type="radio"
                    [value]="
                      answer.point + (answer.type ? '-' + answer.type : '')
                    "
                  />
                  <div
                    class="button"
                    [class.coloredLabel]="coloredLabel"
                    [ngClass]="
                      'button-' +
                      (q.answers.length - (answerIndex + 1)).toString()
                    "
                  >
                    <span class="edge"></span>
                    <span class="front text"> </span>
                  </div>
                  <span>
                    {{ answer.text }}
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div style="display: flex; justify-content: center">
            <app-secondary-btn
              *ngIf="formGroup.valid"
              [textBtn]="'Результати'"
              (onClick)="getSubmit()"
            ></app-secondary-btn>
          </div>
        </mat-tab>
      </ng-container>
    </form>
  </mat-tab-group>
  <div
    class="error-message"
    *ngIf="getInvalidControls()?.length && currentQuestionNumber > 89"
  >
    Будь ласка, дайте відповідь на всі питання.
  </div>
  }
</div>
