.mat-mdc-tab-header,
.mat-mdc-tab-group,
.mat-mdc-tab-labels,
.mat-mdc-tab-header-pagination,
.mat-mdc-tab-header-pagination-controls-enabled,
.mat-mdc-tab-body-wrapper,
.mat-mdc-tab,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #ffffff;
  --mat-tab-header-active-label-text-color: #ffffff;
  --mat-tab-header-inactive-label-text-color: #f0f0f0;
  --mat-mdc-tab-header-pagination-chevron-color: #ffffff !important;

  --mat-full-pseudo-checkbox-selected-checkmark-color: #ffffff;
  --mdc-tab-text-label-color: #ffffff;
  --mdc-tab-text-label-color-default: #f5f5f5;
}

::ng-deep .mat-mdc-tab-header-pagination-chevron,
.mat-mdc-tab-header-pagination-before .mat-mdc-tab-header-pagination-chevron,
.mat-mdc-tab-header-rtl
  .mat-mdc-tab-header-pagination-after
  .mat-mdc-tab-header-pagination-chevron {
  border-color: #ddd !important;
}
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #ddd !important;
}
.mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
  color: #ddd !important;
}

// ------------------------------------------
.example-card {
  padding: 8px;

  background-color: transparent;
}
form {
  .form-btn {
    width: 100%;
    padding: 8px;
    max-width: 300px;
    margin-top: 8px;
    font-size: 1.2rem;
    border-radius: 6px;

    color: #fff;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #4caf50;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 764px) {
      padding: 12px;
      margin-bottom: 16px;
    }
  }
}
.results-btn {
  width: 150px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ffd700;
  margin: 0 auto;
  font-size: 14px;
  gap: 8px;

  color: #ffd700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;

  &:hover {
    border: 1px solid #ffd90086;
  }

  @media screen and (min-width: 764px) {
    width: 200px;
    font-size: 16px;
  }
}
// ========================
// error

.error-message {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  max-height: 200px;
  font-weight: 500;
  border: 1px solid #d32f2f;
  margin-top: 10px;
  overflow-y: auto;
  color: #d32f2f;
  ul {
    padding: 12px;
    margin: 8px 0 0;
    padding-left: 20px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  li {
    padding-left: 8px;
    margin-bottom: 4px;

    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
  }
}
// test ul
ul {
  gap: 1rem;

  display: flex;
  list-style: none;
}
.test-score {
  color: #fff;
}
// ==================
.personality-test {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.hidden-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.question-card {
  margin-bottom: 16px;
  padding: 12px;
  margin-top: 16px;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;

  @media screen and (min-width: 764px) {
    padding: 20px;
  }
}

//
.question-card h3 {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 24px;

  color: #fff;
  text-align: left;

  @media screen and (min-width: 764px) {
    font-size: 1.4rem;
  }
}

.answers {
  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media screen and (min-width: 764px) {
    gap: 18px;
  }
  label {
    margin: 0 10px;
    gap: 20px;

    position: relative;
    flex-direction: row-reverse;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      letter-spacing: 0.1em;
      font-weight: 300;
      font-size: 1.4rem;
    }
  }

  .button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(135deg, #42be46 0%, #81c784 100%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    @media screen and (min-width: 764px) {
      width: 28px;
      height: 28px;
    }
  }

  .button::before,
  .button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .button::before {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(0.9);
    opacity: 0;
  }

  .button::after {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    opacity: 0;
  }

  .label input {
    display: none;
  }

  .label input:checked ~ .button {
    background: linear-gradient(135deg, #20db29 0%, #0bf013 100%);

    box-shadow: 0 10px 20px rgba(122, 255, 34, 0.4);
  }
  .label:hover .button::after {
    transform: scale(1.2);
    opacity: 0.3;
  }
  .label:hover .button {
    background: linear-gradient(135deg, #66bb6a 0%, #a5d6a7 100%);
    box-shadow: 0 10px 20px rgba(102, 187, 106, 0.4);
    transform: scale(1.1);
  }
  .label input:checked ~ .button::before {
    transform: scale(1.2);
    opacity: 1;
  }

  .label input:checked ~ .button::after {
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1.1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0;
    }

    100% {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  .shadow {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .front {
    position: relative;
    z-index: 1;
  }

  input {
    margin-right: 10px;
  }
}
.validBtn {
  height: 8px;
  margin-top: 8px;
  margin-left: 35px;

  transition: all 0.4s linear;
  border: 1px solid #0bf013;
  background-color: #0bf013c5;
}
