::ng-deep .mat-mdc-tab-header-pagination-chevron,
.mat-mdc-tab-header-pagination-before .mat-mdc-tab-header-pagination-chevron,
.mat-mdc-tab-header-rtl
  .mat-mdc-tab-header-pagination-after
  .mat-mdc-tab-header-pagination-chevron {
  border-color: var(--textColor) !important;
}
::ng-deep .mdc-snackbar--open .mdc-snackbar__label,
.mdc-snackbar--open .mdc-snackbar__actions {
  background: var(--bgColorGradient);
  color: var(--textColor);
  font-size: 18px;
}
::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface,
.mdc-snackbar__surface .mat-mdc-simple-snack-bar .ng-star-inserted {
  background: var(--bgColorGradient);
  color: var(--textColor);
  font-size: 16px;

  @media screen and (min-width: 764px) {
    font-size: 18px;
  }
}
::ng-deep .custom-snackbar .mdc-button {
  color: #f5f5f5 !important;
  font-size: 16px !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 18px !important;
}
// ------------------------------------------
.container {
  padding: 16px 8px;
  border-radius: 12px;

  box-shadow: var(--boxShadow);
  position: relative;
  background-color: var(--bgColorBox);
  @media screen and (min-width: 764px) {
    box-shadow: var(--boxShadow);
  }
}
.progress-bar {
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ff7eb3, #ff758c);
  transition: width 0.4s ease-in-out;
}

.question-quantity {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 16px;
  min-width: 48px;
  border-radius: 12px;

  box-shadow: var(--boxShadow);
  background-color: var(--bgColorBox);
  color: var(--textColor);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.question-quantity:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  .question-quantity {
    font-size: 14px;
    padding: 8px 12px;
    min-width: 40px;
  }
}

form {
  .form-btn {
    width: 100%;
    padding: 8px;
    max-width: 300px;
    margin-top: 8px;
    font-size: 1.2rem;
    border-radius: 6px;

    color: var(--textColor);

    border: none;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #4caf50;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 764px) {
      padding: 12px;
      margin-bottom: 16px;
    }
  }
}

// ========================

// test ul
ul {
  gap: 1rem;

  display: flex;
  list-style: none;
}
.test-score {
  color: var(--textColor);
}
// ==================

.hidden-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.section-title {
  font-size: 1.5rem;
  color: var(--textColor);

  margin-bottom: 30px;
  text-align: center;
  @media screen and (min-width: 764px) {
    font-size: 2rem;
  }
}

.question-card {
  margin-bottom: 16px;
  margin-top: 16px;
  transition: all 0.4s ease;
  @media screen and (min-width: 764px) {
    padding: 20px;
  }
}

//
.question-card h3 {
  font-size: 1.1rem;
  letter-spacing: 0.01em;

  margin-bottom: 24px;

  color: var(--textColor);

  text-align: left;

  @media screen and (min-width: 764px) {
    font-size: 1.4rem;
  }
}

.answers {
  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media screen and (min-width: 764px) {
    gap: 18px;
  }
  label {
    gap: 8px;
    padding: 6px;
    width: 100%;
    border-radius: 12px;

    position: relative;
    text-align: left;
    color: var(--textColor);
    cursor: pointer;
    display: flex;
    align-items: center;
    @media screen and (min-width: 764px) {
      padding: 8px;
      gap: 20px;
    }
    span {
      border-radius: 12px;
      font-size: 1rem;
      letter-spacing: 0.01em;
      flex-grow: 1;

      @media screen and (min-width: 764px) {
        font-size: 1.2rem;
      }
    }
  }

  .button {
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    @media screen and (min-width: 764px) {
      width: 38px;
      height: 38px;
    }
  }
  .coloredLabel.button-0 {
    background: linear-gradient(135deg, #e57373 0%, #f44336 100%);
  }

  .coloredLabel.button-1 {
    background: linear-gradient(135deg, #ffb74d 0%, #ff9800 100%);
  }

  .coloredLabel.button-2 {
    background: linear-gradient(135deg, #ffeb3b 0%, #fbc02d 100%);
  }

  .coloredLabel.button-3 {
    background: linear-gradient(135deg, #81c784 0%, #388e3c 100%);
  }

  .coloredLabel.button-4 {
    background: linear-gradient(135deg, #42be46 0%, #2e7d32 100%);
  }
  .coloredLabel.button-5 {
    background: linear-gradient(135deg, #4570b1 0%, #4ba9ce 100%);
  }
  .coloredLabel.button-6 {
    background: linear-gradient(135deg, #da50df 0%, #2e7d32 100%);
  }

  .button::before,
  .button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .button::before {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(0.9);
    opacity: 0;
  }

  .button::after {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    opacity: 0;
  }

  .label input {
    display: none;
  }

  .label input:checked ~ .button {
    background: linear-gradient(135deg, #20db29 0%, #0bf013 100%);

    box-shadow: 0 10px 20px rgba(122, 255, 34, 0.4);
  }
  .label:hover .button::after {
    transform: scale(1.2);
    opacity: 0.3;
  }
  .label:hover .button {
    box-shadow: 0 10px 20px rgba(102, 187, 106, 0.4);
    transform: scale(1.1);
  }
  .label input:checked ~ .button::before {
    transform: scale(1.3);
    opacity: 1;
  }
  .coloredLabel .label input:checked ~ .button {
    background: linear-gradient(135deg, #20db29 0%, #0bf013 100%);
    box-shadow: 0 10px 20px rgba(122, 255, 34, 0.4);
  }

  .label:hover .button::after {
    transform: scale(1.3);
    opacity: 0.4;
  }

  .button-0:checked ~ .button {
    background: linear-gradient(135deg, #e57373 0%, #f44336 100%);
    box-shadow: 0 10px 20px rgba(255, 87, 34, 0.4);
  }

  .button-1:checked ~ .button {
    background: linear-gradient(135deg, #ffb74d 0%, #ff9800 100%);
    box-shadow: 0 10px 20px rgba(255, 165, 0, 0.4);
  }

  .button-2:checked ~ .button {
    background: linear-gradient(135deg, #ffeb3b 0%, #fbc02d 100%);
    box-shadow: 0 10px 20px rgba(255, 235, 59, 0.4);
  }

  .button-3:checked ~ .button {
    background: linear-gradient(135deg, #81c784 0%, #388e3c 100%);
    box-shadow: 0 10px 20px rgba(129, 199, 132, 0.4);
  }

  .button-4:checked ~ .button {
    background: linear-gradient(135deg, #42be46 0%, #2e7d32 100%);
    box-shadow: 0 10px 20px rgba(66, 190, 70, 0.4);
  }
  .button-5:checked ~ .button {
    background: linear-gradient(135deg, #42be46 0%, #2e7d32 100%);
    box-shadow: 0 10px 20px rgba(66, 190, 70, 0.4);
  }
  .button-6:checked ~ .button {
    background: linear-gradient(135deg, #42be46 0%, #2e7d32 100%);
    box-shadow: 0 10px 20px rgba(66, 190, 70, 0.4);
  }
  .label input:checked ~ .button::after {
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1.1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0;
    }

    100% {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  .shadow {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .front {
    position: relative;
    z-index: 1;
  }

  input {
    margin-right: 10px;
  }
}
.validBtn {
  height: 8px;
  margin-top: 8px;
  margin-left: 35px;

  transition: all 0.4s linear;
  border: 1px solid #0bf013;
  background-color: #0bf013c5;
}
