.cube {
  left: 5%;
  top: 30%;
  width: 30px;
  height: 30px;
  z-index: 999;

  cursor: pointer;
  display: none;

  position: absolute;
  transform-style: preserve-3d;
  animation: rotateCube 4s infinite linear,
    moveCube 6s infinite alternate ease-in-out;
  @media screen and (min-width: 764px) {
    display: none;
  }
}

.face {
  width: 30px;
  height: 30px;
  background: rgba(255, 165, 0, 0.8);
  border: 2px solid #fff;
  font-size: 8px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  transform: translateZ(15px);
  background: #ffcc00;
  color: #000;
}
.back {
  transform: rotateY(180deg) translateZ(15px);
  background: #4caf50;
  color: #fff;
}
.left {
  transform: rotateY(-90deg) translateZ(15px);
  background: #2196f3;
  color: #fff;
}
.right {
  transform: rotateY(90deg) translateZ(15px);
  background: #ff5722;
  color: #fff;
}
.top {
  transform: rotateX(90deg) translateZ(15px);
  background: #e91e63;
  color: #fff;
}
.bottom {
  transform: rotateX(-90deg) translateZ(15px);
  background: #ff007f;
  color: #fff;
}

@keyframes rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.freeze {
  animation: rotateCube 4s infinite linear !important;
}
