<div class="personality-info-container">
  <div class="info-card" *ngIf="personInformation">
    <div class="card-content">
      <div class="info-section">
        <h3>{{ personInformation.entry.title }}</h3>
        <p>{{ personInformation.entry.subtitle }}</p>
      </div>
      <hr />

      <div class="info-section">
        <h3>{{ personInformation.mirror.insight }}</h3>

        <ul>
          <li *ngFor="let weakness of personInformation.mirror.painPoints">
            🔴 {{ weakness }}
          </li>
        </ul>
      </div>
      <hr />
      <div class="info-section">
        <h3>Дещо ти вже знаєш про себе</h3>
        <p>{{ personInformation.transformation.before }}</p>
      </div>
      <hr />
      <div class="info-section">
        <h3>Я допоможу пізнати себе через призму твого типу особистості</h3>
        <p>{{ personInformation.transformation.after }}</p>
      </div>
      <hr />

      <div class="info-section">
        <h3>{{ personInformation.CTAblock.title }}</h3>
        <ul>
          <li *ngFor="let benefit of personInformation.CTAblock.benefits">
            {{ benefit }}
          </li>
        </ul>
      </div>
      <hr />
      <div class="info-section">
        <div class="highlighted-title">
          <h3>Дуже важливо</h3>
          <p>{{ personInformation.socialProof.note }}</p>
          <p>{{ personInformation.socialProof.subNote }}</p>
          <div class="info-section">
            <p>{{ personInformation.footerEmotion.text }}</p>
            <p>{{ personInformation.footerEmotion.softCTA }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
