.controls {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    pointer-events: all;
    transition: transform 0.3s ease;
    backdrop-filter: blur(1px);
    &:hover {
      transform: scale(1.1);
    }
    .btns-icon {
      width: 45px;
      height: 45px;
      stroke: #057988;
    }
  }
}
::ng-deep button.disable mat-icon svg {
  stroke: gray;
  opacity: 0.5;
  pointer-events: none;
}

.controls-inside {
  min-width: 360px;
  max-width: 400px;

  @media screen and (min-width: 1320px) {
    min-width: 65%;
  }
  @media screen and (min-width: 1490px) and (max-width: 1640px) {
    min-width: 55%;
  }
}
.controls-outside {
  width: 100%;
}
