<div
  class="controls"
  [class.controls-outside]="!controlsInside"
  [class.controls-inside]="controlsInside"
>
  <button
    [disabled]="disablePrev"
    class="btn-prev"
    (click)="prevSlide()"
    [class.disable]="disablePrev"
  >
    <mat-icon class="btns-icon" svgIcon="prev-btn"></mat-icon>
  </button>
  <button
    [disabled]="disableNext"
    class="btn-next"
    (click)="nextSlide()"
    [class.disable]="disableNext"
  >
    <mat-icon class="btns-icon" svgIcon="next-btn"></mat-icon>
  </button>
</div>
