.controls {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    border: 2px solid #057988;
    background-color: #f5f5f5;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    transition: transform 0.3s ease;
    &.disable {
      border-color: gray;
    }
    &:hover {
      transform: scale(1.1);
    }
    .btns-icon {
      width: 24px;
      height: 24px;
      stroke: #057988;
    }
  }
}
::ng-deep button.disable mat-icon svg {
  stroke: gray;
  opacity: 0.5;
  pointer-events: none;
}

.controls-inside {
  min-width: 360px;
  max-width: 400px;

  @media screen and (min-width: 1320px) {
    min-width: 65%;
  }
  @media screen and (min-width: 1490px) and (max-width: 1640px) {
    min-width: 55%;
  }
}
.controls-outside {
  width: 90%;
}
