.header {
  color: #fff;
  padding: 8px 0;
  position: relative;
  z-index: 888;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.171);
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .logo-wrapper {
    padding: 8px;
  }
  .logo {
    font-size: 1.5rem;
    width: 150px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 28px 28px 0 0;

    box-sizing: border-box;
    cursor: pointer;
    display: none;
    align-items: center;
    font-weight: bold;
    &::after {
      content: " ";
      width: 260px;
      height: 100px;
      top: -35px;
      left: -55px;
      background-size: cover;

      background-image: url("https://tse3.mm.bing.net/th?id=OIP.XHQhSMlOCdcA-7xqCFEa0wHaHa&pid=Api&P=0&h=380");
      background-repeat: no-repeat;
      background-position: center 1px;

      position: absolute;
    }
    @media screen and (min-width: 764px) {
      display: flex;
    }
  }

  .nav {
    display: flex;
    gap: 20px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease;
      &:hover,
      &.active {
        color: #ffcc00;
      }
    }
  }

  .menu-btn {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }

  .mobile-menu {
    box-sizing: border-box;
    display: none;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease;
      max-width: 50%;

      &:hover,
      &.active {
        color: #ffcc00;
      }
    }
  }

  @media (max-width: 768px) {
    .nav {
      display: none;
    }
    .menu-btn {
      display: block;
    }
    .mobile-menu {
      display: flex;
      flex-direction: column;
      gap: 15px;
      background: rgba(30, 60, 114, 0.9);
      position: absolute;
      z-index: 9999;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem;
    }
  }
}
