<header
  class="header"
  appStickyHeader
  [stickyClass]="'sticky-header'"
  [offset]="200"
>
  <div class="container">
    <div routerLink="/" class="logo">vidchuttia</div>
    <app-cube></app-cube>

    <nav class="nav">
      <a routerLink="/tests" routerLinkActive="active">Тести</a>
      <a [hidden]="hiddenRoutes" routerLink="/courses" routerLinkActive="active"
        >Курси</a
      >
      <a routerLink="/consultations" routerLinkActive="active"
        >Аналіз особистості</a
      >

      <a routerLink="/contacts" routerLinkActive="active">Контакти</a>
      <a routerLink="/about" routerLinkActive="active">Про нас</a>
    </nav>
    <div class="toggle-wrapper">
      <app-toggle-btn></app-toggle-btn>
    </div>
    <app-mob></app-mob>
  </div>
</header>
