.calculator {
  padding: 1rem;
  min-height: 100vh;

  color: var(--textColor);
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;

  @media screen and (min-width: 764px) {
    padding: 0 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  ul {
    padding: 0;

    text-align: left;
    list-style: none;
  }
  h3 {
    letter-spacing: 0.01em;
    font-size: 28px;
    color: var(--textColorTitle);
  }
  li {
    margin: 8px 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
}
