<app-title-card
  [titleText]="titleText"
  [subtitleText]="subtitleText"
></app-title-card>
<section class="calculator">
  <ng-container *ngIf="calculatorInformation$ | async as calculatorInformation">
    @if (calculatorInformation.title) {

    <h1>{{ calculatorInformation.title }}</h1>
    <p>{{ calculatorInformation.description }}</p>

    <div>
      <h2>{{ calculatorInformation.sections.howItWorks.title }}</h2>
      <ul>
        <li
          *ngFor="let step of calculatorInformation.sections.howItWorks.steps"
        >
          {{ step }}
        </li>
      </ul>
    </div>

    <div>
      <h2>{{ calculatorInformation.sections.benefits.title }}</h2>
      <ul>
        <li
          *ngFor="let point of calculatorInformation.sections.benefits.points"
        >
          {{ point }}
        </li>
      </ul>
    </div>

    <div>
      <h2>{{ calculatorInformation.sections.importance.title }}</h2>
      <p>{{ calculatorInformation.sections.importance.text }}</p>
    </div>

    <div class="cta">
      <p>{{ calculatorInformation.sections.callToAction.text }}</p>
      <app-test-card-start-btn
        [btnText]="'Почати аналіз'"
        [route]="routeUrl"
      ></app-test-card-start-btn>
    </div>
    }
  </ng-container>
</section>
