<app-title-card
  [titleText]="titleText"
  [subtitleText]="subtitleText"
></app-title-card>

<section class="disclaimer">
  <ng-container *ngIf="calculatorDeclaimer$ | async as calculatorDeclaimer">
    <h3 class="disclaimer-title title-primary">
      {{ calculatorDeclaimer.title }}
    </h3>
    <p class="disclaimer-text subtitle">
      {{ calculatorDeclaimer.text }}
    </p>
    <p class="disclaimer-experimental subtitle">
      {{ calculatorDeclaimer.responsibility }}
    </p>
  </ng-container>
</section>

<section class="calculator">
  <div class="calculator-wrapper">
    <h3 class="title-primary">Аналіз сумісності за типами особистості</h3>
    <br />

    <form action="" [formGroup]="formGroup">
      <p class="subtitle">
        Оберіть два типи особистості, щоб дізнатися їхню сумісність
      </p>
      <div class="select-group">
        <mat-form-field appearance="outline">
          <mat-select formControlName="selectedFirstPersonality">
            <mat-option
              *ngFor="let option of personalities"
              [value]="option.type"
            >
              <span class="option-content">
                {{ option.type }} ({{ option.name }})
                <img
                  [src]="option.urlImg"
                  [alt]="option.type"
                  class="option-img"
                />
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select-group">
        <mat-form-field appearance="outline">
          <mat-select formControlName="selectedSecondPersonality">
            <mat-option
              *ngFor="let option of personalities"
              [value]="option.type"
            >
              <span class="option-content">
                {{ option.type }} ({{ option.name }})
                <img
                  [src]="option.urlImg"
                  [alt]="option.type"
                  class="option-img"
                />
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="btn-wrapper">
        <app-primary-btn
          (onClick)="onSubmit()"
          [textBtn]="'Дізнатися сумісність'"
        ></app-primary-btn>
      </div>
    </form>
  </div>
  <br />
  <ng-container *ngIf="calculatorResult$ | async as calculatorResult">
    <div class="calculator-result">
      <div class="calculator-section">
        <h3 class="title-primary">
          {{ calculatorResult.relationshipsType.text }}
          {{ calculatorResult.scoreResult }} %
        </h3>
        <div class="description subtitle">
          <p>{{ calculatorResult.calculatorResults.description }}</p>
        </div>
      </div>

      <div
        class="calculator-section"
        *ngIf="
          calculatorResult.calculatorResults.sections.relationshipExplanation
        "
      >
        <h4 class="subtitle">Що між вами відбувається?</h4>
        <p class="subtitle">
          {{
            calculatorResult.calculatorResults.sections.relationshipExplanation
              .deepUnderstanding
          }}
        </p>
        <p class="subtitle">
          {{
            calculatorResult.calculatorResults.sections.relationshipExplanation
              .desireForDepth
          }}
        </p>
        <p class="subtitle">
          {{
            calculatorResult.calculatorResults.sections.relationshipExplanation
              .stabilityAndComfort
          }}
        </p>
      </div>

      <div class="calculator-section">
        <h4 class="subtitle">Чому вам може бути складно?</h4>
        <ul>
          <li
            *ngFor="
              let difficulty of calculatorResult.calculatorResults.sections
                .possibleDifficulties
            "
          >
            <p class="subtitles">
              {{ difficulty }}
            </p>
          </li>
        </ul>
      </div>

      <div class="calculator-section">
        <h4 class="subtitle">Як зробити ці стосунки комфортнішими?</h4>
        <ul>
          <li
            class="subtitle"
            *ngFor="
              let improvement of calculatorResult.calculatorResults.sections
                .improvingRelationship
            "
          >
            <p>
              {{ improvement }}
            </p>
          </li>
        </ul>
      </div>

      <div class="calculator-section">
        <h4 class="subtitle">Важливо</h4>
        <p class="subtitle">
          {{ calculatorResult.calculatorResults.sections.conclusion }}
        </p>
      </div>
    </div>
    <app-hero-cards-slider [bigCards]="false"></app-hero-cards-slider>
  </ng-container>
</section>
