::ng-deep .mat-mdc-form-field {
  width: 100%;
  color: var(--textColor) !important;
}
::ng-deep .mat-mdc-select {
  color: var(--textColor) !important;
}
::ng-deep .mdc-floating-label {
  border-color: var(--borderColor) !important;
  color: var(--textColor) !important;
  z-index: 999 !important;
}
::ng-deep .mdc-text-field.mdc-text-field--outlined {
  border-color: var(--borderColor) !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: var(--bgColor) !important;
}
::ng-deep .mat-mdc-select-arrow {
  color: var(--textColor) !important;
}
::ng-deep .mdc-text-field.mdc-text-field--outlined,
::ng-deep .mat-mdc-form-field-outline {
  border: 1px solid var(--borderColor) !important;
}
.disclaimer {
  padding: 16px;
  margin: 20px 0;
  min-height: 173px;
  border-radius: 8px;

  background-color: #fef4e8;
  border-left: 4px solid #ff9800;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.disclaimer-title {
  font-size: 24px;
  margin-bottom: 10px;

  text-align: center;
  font-weight: bold;
  color: #d84315;
}
.disclaimer-text,
.disclaimer-experimental {
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  @media screen and (min-width: 764px) {
    font-size: 16px;
  }
}

.disclaimer-experimental {
  font-style: italic;
  color: #b71c1c;
}
.calculator-wrapper {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
.calculator {
  padding: 18px 0;
  min-height: 100vh;

  border-radius: 20px;
  color: var(--color-text-secondary);
  @media screen and (min-width: 764px) {
    padding: 64px 0;
  }
  h3 {
    border-radius: 12px;
    padding: 8px;

    text-align: center;
    padding-bottom: 10px;
  }
  h4 {
    padding: 4px;
    font-weight: 600;
    text-align: left;
  }
  ul {
    padding-left: 0;
    padding: 8px;
  }
  p {
    font-size: 16px;
    padding: 8px 0;
    letter-spacing: 0.01em;

    text-align: left;

    font-style: normal;
    transition: color 0.3s ease;
    @media screen and (min-width: 764px) {
      font-size: 20px;
    }
  }
  li {
    font-size: 16px;
    padding: 8px 0;
    letter-spacing: 0.01em;

    text-align: left;

    font-style: normal;
    transition: color 0.3s ease;
    @media screen and (min-width: 764px) {
      font-size: 20px;
    }
  }
}
.calculator-section {
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.select-group {
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
  @media screen and (min-width: 764px) {
    font-size: 18px;
  }
}
.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.option-img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.select-box {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  option {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 44px;
      height: 44px;
    }
  }
}
.select-box:focus {
  border-color: #007bff;
  outline: none;
}
.spinner-container {
  margin: 0 auto;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
