<app-title-card
  [imgUrl]="imgUrl"
  [titleText]="titleText"
  [subtitleText]="subtitleText"
></app-title-card>
<section class="calculator">
  <div class="wrapper">
    <h3>Аналіз сумісності за типами особистості</h3>
    <br />
    <br />

    <form action="" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="select-group">
        <mat-form-field appearance="outline">
          <mat-select formControlName="selectedFirstPersonality">
            <mat-option
              *ngFor="let option of personalities"
              [value]="option.type"
            >
              <span class="option-content">
                {{ option.type }} ({{ option.name }})
                <img
                  [src]="option.urlImg"
                  [alt]="option.type"
                  class="option-img"
                />
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select-group">
        <mat-form-field appearance="outline">
          <mat-select formControlName="selectedSecondPersonality">
            <mat-option
              *ngFor="let option of personalities"
              [value]="option.type"
            >
              <span class="option-content">
                {{ option.type }} ({{ option.name }})
                <img
                  [src]="option.urlImg"
                  [alt]="option.type"
                  class="option-img"
                />
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="calculate-btn" type="submit">Розрахувати</button>
    </form>
  </div>
  <br />
  <ng-container *ngIf="calculatorResult$ | async as calculatorResult">
    <h3>
      {{ calculatorResult.relationshipsType.text }}
      {{ calculatorResult.scoreResult }} %
    </h3>

    <div class="calculator-result">
      <div class="description">
        <strong> </strong>
        <p>{{ calculatorResult.calculatorResults.description }}</p>
      </div>

      <div class="section">
        <h4>Опис стосунків</h4>
        <p>
          {{
            calculatorResult.calculatorResults.sections.relationshipExplanation
          }}
        </p>
      </div>

      <div class="section">
        <h4>Можливі складності</h4>
        <ul>
          <li
            *ngFor="
              let difficulty of calculatorResult.calculatorResults.sections
                .possibleDifficulties
            "
          >
            {{ difficulty }}
          </li>
        </ul>
      </div>

      <div class="section">
        <h4>Як покращити стосунки?</h4>
        <ul>
          <li
            *ngFor="
              let improvement of calculatorResult.calculatorResults.sections
                .improvingRelationship
            "
          >
            {{ improvement }}
          </li>
        </ul>
      </div>

      <div class="section">
        <h4></h4>
        <p>{{ calculatorResult.calculatorResults.sections.conclusion }}</p>
      </div>

      <div class="reflection">
        <strong> </strong>
        <p>{{ calculatorResult.calculatorResults.reflection }}</p>
      </div>
    </div>
  </ng-container>
</section>
