@import "../../../assets/mixins.scss";

.not-found {
  max-width: 450px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  @include adaptive-spacing(
    padding,
    $padding-mobile,
    $padding-tablet,
    $padding-desktop
  );

  h2 {
    padding: 8px;
    text-align: center;
    border-radius: 8px;
  }
}
