.test-information {
  width: 100%;

  color: var(--textColor);
  text-align: center;
  box-sizing: border-box;
  @media screen and (min-width: 764px) {
    padding: 0 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  ul {
    padding: 0;

    text-align: left;
    list-style: none;
  }
  h3 {
    letter-spacing: 0.01em;
    font-size: 28px;
    color: var(--textColorTitle);
  }
  li {
    margin: 8px 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
}
::ng-deep .mat-mdc-form-field {
  width: 100%;
}
.calculator {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.select-group {
  margin-bottom: 15px;
}
.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.option-img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.select-box {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  cursor: pointer;
  option {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 32px;
      height: 32px;
    }
  }
}
.select-box:focus {
  border-color: #007bff;
  outline: none;
}
.calculate-btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}
.calculate-btn:hover {
  background: #0056b3;
}
