<div class="test-information">
  <app-title-card
    [imgUrl]="imgUrl"
    [titleText]="titleText"
    [subtitleText]="subtitleText"
  ></app-title-card>

  <h3>Що ти отримаєш?</h3>
  <ul>
    <li>✅ Визначення твого особистісного типу</li>
    <li>✅ Глибший погляд на твої сильні сторони та можливості</li>
    <li>✅ Ключі до розуміння своїх рішень та поведінки</li>
    <li>✅ Поради для кращого спілкування та взаємодії</li>
  </ul>
  <br />
  <p>
    Усі люди різні, і цей тест допоможе тобі зрозуміти свої унікальні
    особливості.
  </p>
  <app-test-card-start-btn [route]="routeUrl"></app-test-card-start-btn>
</div>
