.test-information {
  width: 100%;

  color: var(--textColor);
  text-align: center;
  box-sizing: border-box;
  @media screen and (min-width: 764px) {
    padding: 0 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  ul {
    padding: 0;

    text-align: left;
    list-style: none;
  }
  h3 {
    letter-spacing: 0.01em;
    font-size: 28px;
    color: var(--textColorTitle);
  }
  li {
    margin: 8px 0;
    font-size: 16px;
    letter-spacing: 0.01em;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  .link-btn {
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 15px;
    background: darken(#ffcc00, 10%);

    display: inline-block;
    color: #334155;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
  }
}
