<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <p class="footer-text">
        Приєднуйся

        <svg class="svg-icon">
          <use xlink:href="../../../assets/new/core/icons.svg#white-like"></use>
        </svg>
      </p>

      <div class="links-wrapper">
        <app-social-links
          [isDarkTheme]="false"
          [svgSize]="'small'"
        ></app-social-links>
      </div>
    </div>
    <br />
    <p>
      © 2025 | <a routerLink="/privacy-policy">Політика конфіденційності</a>
    </p>
  </div>
</footer>
