// SCORE

.main-wrapper {
  font-size: 16px;
  margin-bottom: 10px;

  position: relative;
  display: flex;
  flex-direction: column;
}

.dsc-wrapper {
  width: 100%;
}
.even-descriptions {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 150%;

  text-align: left;
}
.odd-descriptions {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 150%;

  color: red;
  text-align: right;
}

.score {
  padding: 4px;
  border-radius: 1rem;
  width: 100%;

  box-sizing: border-box;
  position: relative;

  @media screen and (min-width: 764px) {
    padding: 6px;
  }
  &.E {
    background-color: #f44336;
  }

  &.I {
    background-color: #673ab7;
  }

  &.S {
    background-color: #ff9800;
  }

  &.N {
    background-color: #2196f3;
  }

  &.T {
    background-color: #4caf50;
  }

  &.F {
    background-color: #e91e63;
  }

  &.J {
    background-color: #ffeb3b;
  }

  &.P {
    background-color: #d43434;
  }
}

.bg-score {
  width: 16px;
  height: 16px;
  top: -50%;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(29, 36, 50, 0.15);
  border: 3px solid white;
  position: absolute;

  box-sizing: border-box;
  background-color: inherit;

  @media screen and (min-width: 764px) {
    width: 24px;
    height: 24px;
  }
}
.E {
  color: #f44336;
}

.I {
  color: #673ab7;
}

.S {
  color: #ff9800;
}

.N {
  color: #2196f3;
}

.T {
  color: #4caf50;
}

.F {
  color: #e91e63;
}

.J {
  color: #ffeb3b;
}

.P {
  color: #da3214;
}
