.main-wrapper {
  font-size: 16px;
  border-radius: 8px;

  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 764px) {
    font-size: 18px;
  }
}

.dsc-wrapper {
  width: 100%;
  margin-bottom: 12px;
}
.descriptions {
  gap: 8px;

  display: flex;
  text-align: left;
  align-items: center;
}
.btn-show-more {
  cursor: pointer;
}

.score {
  padding: 4px;
  border-radius: 1rem;
  width: 100%;

  box-sizing: border-box;
  position: relative;

  @media screen and (min-width: 764px) {
    padding: 6px;
  }
  &.E {
    background-color: #f44336;
  }

  &.T {
    background-color: #3aafb7;
  }

  &.W {
    background-color: #ff9800;
  }

  &.R {
    background-color: #2196f3;
  }

  &.F {
    background-color: #4caf50;
  }

  &.B {
    background-color: #e91e63;
  }
}
// -------------------
::ng-deep mat-expansion-panel {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  transition: all 0.3s linear;
}
::ng-deep .mat-expansion-panel-header {
  display: none;
}
::ng-deep .mdc-button__label {
  color: #fff;
}
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background-color: transparent;
}

::ng-deep .mat-expansion-indicator {
  display: none;
}

// =====================
.custom-header {
  display: flex;
  justify-content: flex-start;
}

.bg-score {
  width: 16px;
  height: 16px;
  top: -50%;
  left: -10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(29, 36, 50, 0.15);
  border: 3px solid #fff;
  position: absolute;

  box-sizing: border-box;
  background-color: inherit;

  @media screen and (min-width: 764px) {
    width: 24px;
    height: 24px;
  }
}
.E {
  color: #f44336;
}

.T {
  color: #3aafb7;
}

.W {
  color: #ff9800;
}

.R {
  color: #2196f3;
}

.F {
  color: #4caf50;
}

.B {
  color: #e91e63;
}

.mat-content {
  margin-bottom: 12px;
}
.indicator-content {
  margin-bottom: 14px;
}
h3 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 100;

  font-style: italic;
  color: var(--textColor);
}

.sensitivity-container {
  gap: 16px;
  margin-top: 8px;

  display: flex;
  flex-direction: column;
  text-align: left;
  p {
    font-weight: 100;
    border-radius: 8px;
    margin-bottom: 8px;

    font-style: italic;
    color: var(--textColor);
  }

  .expansion-btn {
    font-weight: 400;
    padding: 8px 0;
    font-size: 14px;
    width: 120px;

    display: inline-block;
    text-align: center;
    font-style: oblique;
    color: var(--textColor);
    transition: border 0.3s linear;

    &:hover {
      color: #ccccccc9;
    }
  }
  .expansion-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .expansion-btn::after {
    content: "▼";
    font-size: 14px;
    margin-left: 8px;
    transition: transform 0.3s ease;
  }

  .expansion-btn::after {
    transform: rotate(-180deg);
  }
  ul {
    gap: 8px;

    display: flex;
    flex-direction: column;
  }
  li {
    color: var(--textColor);
  }
}
