<div class="results-container">
  <ng-container *ngFor="let key of scoreKeys; let i = index">
    <div *ngIf="scorePercentages">
      <div class="main-wrapper">
        <div class="dsc-wrapper">
          <div [ngClass]="key" class="descriptions">
            {{ getDescriptions(key) + " " + scorePercentages[key] + "%" }}
          </div>
        </div>
        <div [ngClass]="key" class="score">
          <div
            [style.left]="scorePercentages[key] - 2 + '%'"
            class="bg-score"
          ></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
