<section class="consultations">
  <div class="container">
    <div class="consultations-content">
      <h2 class="section-title">Отримайте індивідуальну консультацію</h2>
      <p class="section-description">
        Наші експерти допоможуть вам розібратися в складних питаннях і нададуть
        персональні рекомендації. Запишіться на консультацію прямо зараз!
      </p>
      <button class="btn" mat-raised-button (click)="openDialog()">
        Записатися
      </button>
    </div>
    <div class="consultations-image">
      <img src="assets/avatar-consultations.jpg" alt="Консультации" />
    </div>
  </div>
</section>
