.consultation {
  padding: 20px 15px;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 50px 30px;
  }
  .wrapper {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 12px;
    box-shadow: var(--boxShadow);
    background-color: var(--bgColorBox);
    @media screen and (min-width: 764px) {
      padding: 12px;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--textColorTitle);

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }
  h3 {
    font-size: 18px;
    color: var(--textColor);

    border-radius: 12px;
    padding: 8px;
    margin-bottom: 16px;

    text-align: center;

    padding-bottom: 10px;
    @media screen and (min-width: 764px) {
      text-align: left;
      font-size: 22px;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: var(--textColor);
    text-align: left;

    @media screen and (min-width: 768px) {
      text-align: left;
      font-size: 18px;
    }
  }

  ul,
  ol {
    padding-left: 20px;
    max-width: 600px;
    color: var(--textColor);
    margin-bottom: 20px;
    li {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      letter-spacing: 0.01em;
      padding-left: 25px;

      transition: color 0.3s ease;
      color: var(--textColor);
      position: relative;
      font-style: normal;
      text-align: left;

      &::before {
        content: "✔";
        position: absolute;
        left: 0;
        color: #007bff;
        font-size: 18px;
      }

      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
