<section class="info">
  <ul class="info-list">
    <li class="info-list-item">
      <div class="icon-wrapper">
        <mat-icon
          class="items-icon icon-hover"
          svgIcon="two-personalities-hover"
        ></mat-icon>
        <mat-icon
          class="items-icon delete-hover"
          svgIcon="two-personalities"
        ></mat-icon>
      </div>
      <p class="subtitle">
        Чому ми такі різні? Одні легко орієнтуються в хаосі, інші потребують
        чіткої структури. Хтось спонтанно кидається в нові можливості, а хтось
        ретельно продумує кожен крок. Чи бувало в тебе таке, що ти не розумів,
        чому інші люди думають інакше?
      </p>
    </li>
    <li class="info-list-item">
      <div class="icon-wrapper">
        <mat-icon
          class="items-icon icon-hover"
          svgIcon="person-meditate-hover"
        ></mat-icon>
        <mat-icon
          class="items-icon delete-hover"
          svgIcon="person-meditate"
        ></mat-icon>
      </div>
      <p class="subtitle">
        Розуміння себе – це ключ до гармонійного життя та кращих стосунків.
        Уяви, що ти маєш карту, яка пояснює, чому ти приймаєш рішення саме так,
        чому деякі ситуації тебе виснажують, а інші – наповнюють енергією.
      </p>
    </li>
    <li class="info-list-item">
      <div class="icon-wrapper">
        <mat-icon
          class="items-icon icon-hover"
          svgIcon="brain-in-head-hover"
        ></mat-icon>
        <mat-icon
          class="items-icon delete-hover"
          svgIcon="brain-in-head"
        ></mat-icon>
      </div>

      <p class="subtitle">
        Але ми не існуємо у вакуумі. У кожної людини свій внутрішній світ, свої
        емоції, свої реакції. Як часто ми неправильно інтерпретуємо дії інших,
        думаючи, що вони «повинні були зрозуміти» нас?
      </p>
    </li>
  </ul>
</section>
