<div
  class="carousel-wrapper"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <div class="carousel">
    @for (slide of slideCards; track $index) {

    <div
      [style.transform]="'translateX(-' + currentIndex() * 100 + '%)'"
      class="slide"
      [class.inactive]="$index !== currentIndex()"
      [class.active]="$index === currentIndex()"
    >
      <app-test-card [card]="slide"></app-test-card>
    </div>
    }
  </div>
  <app-slider-controls-btn
    (next)="next()"
    (prev)="prev()"
  ></app-slider-controls-btn>
  <ul class="dots">
    @for (slide of slideCards; track $index) {
    <li [class.active]="$index === currentIndex()" (click)="goToSlide($index)">
      <div class="dot"></div>
    </li>
    }
  </ul>
</div>
