<section class="contact" (click)="setByClick()">
  <h2>Є питання? Напишіть нам!</h2>
  <div class="container" [class.glass]="isClicked()">
    <div data-text="Telegram" style="--r: -15" class="glass">
      <a href="https://t.me/@alex_andrusishin" target="_blank">
        <img src="../../../assets/svg/media/telegram.svg" alt="" />
      </a>
    </div>
    <div data-text="Tik tok" style="--r: 5" class="glass">
      <a
        href="https://www.tiktok.com/@alex_white_light?_t=ZM-8u3NPohrWXn&_r=1"
        target="_blank"
      >
        <img src="../../../assets/svg/media/tiktok.svg" alt="" />
      </a>
    </div>
    <div data-text="Instagram" style="--r: 25" class="glass">
      <a
        href="https://www.instagram.com/depth_seekerr?igsh=MTZuNGxudnNrNWYzeg%3D%3D&utm_source=qr"
        target="_blank"
      >
        <img src="../../../assets/svg/media/instagram.svg" alt="" />
      </a>
    </div>

    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
      <div class="input-group">
        <input
          type="text"
          formControlName="name"
          name="name"
          ngModel
          required
          placeholder="Ваше ім'я"
        />
      </div>
      <div class="input-group">
        <input
          type="email"
          formControlName="email"
          name="email"
          ngModel
          required
          placeholder="Ваш email"
        />
      </div>
      <div class="input-group">
        <textarea
          name="message"
          formControlName="message"
          ngModel
          required
          placeholder="Ваше повідомлення"
        ></textarea>
      </div>
      <button type="submit" class="btn" [disabled]="!contactForm.valid">
        Відправити
      </button>
    </form> -->
  </div>
</section>
