.contact {
  text-align: center;
  padding: 18px;
  padding-bottom: 0;
  @media screen and (min-width: 764px) {
    max-height: 1192px;
    padding: 60px 0 0 0;
  }
  h2 {
    margin-bottom: 23px;
    text-align: left;
    @media screen and (min-width: 764px) {
      text-align: center;
      margin-bottom: 69px;
    }
  }
  .links-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;

    @media screen and (min-width: 764px) {
      margin-bottom: 92px;
    }
  }
  .container-bg {
    width: 276px;
    min-height: 212px;
    margin: 0 auto;

    background-image: url("../../../assets/new/core/contacts/contacts.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 764px) {
      width: 718px;
      height: 426px;
    }

    @media screen and (min-width: 1200px) {
      width: 918px;
      height: 726px;
    }
  }
}
