.about {
  width: 100%;
  padding: 40px 0;
  color: #f1f1f1;

  @media screen and (min-width: 764px) {
    padding: 40px 20px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @media screen and (min-width: 764px) {
      flex-direction: row;
    }
  }

  .about__text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #f1f1f1;
    a {
      font-size: 1.4rem;
      text-decoration: underline;
    }
  }
  .about__btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #0077ff;
    color: #f1f1f1;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
  }
  .about__btn:hover {
    background-color: #005fcc;
    transform: translateY(-3px);
  }
}
