.about {
  width: 100%;
  padding: 18px 0;

  display: flex;
  justify-content: center;
  @media screen and (min-width: 764px) {
    padding: 64px 18px;
  }
}
.container {
  padding: 19px;
  width: 1320px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (min-width: 1200px) {
    border: 1px solid #003d45;
    padding: 74px;
    gap: 76px;
  }
}
::ng-deep .about-links app-social-links .social-links .links {
  flex-direction: column;
}

.about-links {
  position: absolute;
  left: 20px;
  top: 70px;
  display: none;
  @media screen and (min-width: 1320px) {
    display: block;
  }
}
.about-links-mob {
  @media screen and (min-width: 1320px) {
    display: none;
  }
}
.container-text-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 1320px) {
    align-items: flex-start;
    flex-direction: row;
    gap: 0;
  }
  .about-title {
    margin-bottom: 21px;
    display: none;
    @media screen and (min-width: 1320px) {
      display: block;
    }
  }
  .text {
    margin-bottom: 24px;
    color: var(--color-text-primary);
  }
  img {
    width: 522px;

    border-radius: 20px;

    height: auto;
    @media screen and (min-width: 1320px) {
      margin-bottom: 0;
      margin-right: 76px;
      margin-left: 20px;
    }
  }
}
.btns-wrapper {
  @media screen and (max-width: 764px) {
    display: flex;
    justify-content: center;
  }
}
.text {
  color: var(--color-text-primary);
  line-height: normal;
  font-size: 16px;
  @media screen and (min-width: 1320p) {
    font-size: 20px;
  }
}
