.about {
  width: 100%;
  padding: 20px 0;
  color: #f1f1f1;

  @media screen and (min-width: 764px) {
    padding: 40px 20px;
  }
  h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;

    word-spacing: 4px;
    word-wrap: break-word;

    font-style: oblique;
    text-align: center;
    color: #ccc;

    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
      font-size: 32px;

      text-align: left;
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @media screen and (min-width: 764px) {
      flex-direction: row;
    }
  }
  .img-wrapper {
    gap: 1rem;
    margin-bottom: 16px;

    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 764px) {
      flex-wrap: nowrap;
    }
    img {
      border-radius: 12px;
      width: 300px;
      margin: 0 auto;
      height: 300px;
      @media screen and (min-width: 764px) {
        margin: 0;
      }
    }
  }
  .about__text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #f1f1f1;
    a {
      font-size: 1.4rem;
      text-decoration: underline;
    }
  }
  .about__btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #0077ff;
    color: #f1f1f1;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
  }
  .about__btn:hover {
    background-color: #005fcc;
    transform: translateY(-3px);
  }
}
