<section class="about">
  <div class="container">
    <div class="about-content">
      <h2 class="section-title">О нас</h2>
      <p class="section-description">
        Мы — команда профессионалов, готовых помочь вам освоить новые навыки в
        мире IT. Наши курсы созданы для тех, кто хочет развиваться и добиваться
        успеха.
      </p>
      <a routerLink="/contacts" class="btn">Связаться с нами</a>
    </div>
    <div class="about-image">
      <img
        src="https://tse3.mm.bing.net/th?id=OIP.x-RVBTrpc_wbG39FbKzZVgHaFj&pid=Api&P=0&h=380"
        alt="Наша команда"
      />
    </div>
  </div>
</section>
