<section class="about">
  <div class="container">
    <div class="about-content">
      <h2 class="section-title">О нас</h2>
      <p class="section-description">
        Ми — команда професіоналів, готових допомогти вам опанувати нові навички
        у світі IT. Наші курси створені для тих, хто хоче розвиватися та
        досягати успіху.
      </p>
      <a routerLink="/contacts" class="btn">Зв'язатися з нами</a>
    </div>
    <div class="about-image">
      <img
        src="https://tse3.mm.bing.net/th?id=OIP.x-RVBTrpc_wbG39FbKzZVgHaFj&pid=Api&P=0&h=380"
        alt="Наша команда"
      />
    </div>
  </div>
</section>
