.attractiveness {
  max-width: 1320px;
  padding: 18px;
  margin: 0 auto;

  color: #fff;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  @media screen and (min-width: 764px) {
    padding: 64px 18px;
  }
}
// ERROR
.test-error {
  border: 1px solid red;
  padding: 6px;
  border-radius: 8px;
}
.response-message {
  padding: 8px;
  border-radius: 1rem;

  border: 1px solid green;

  box-sizing: border-box;
}
