button {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;

  display: inline-block;
  background: #007bff;
  color: #f5f5f5;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #0056b3;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding: 14px 40px;
  }
}
