.payment-container {
  width: 100%;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 4px;
  box-shadow: var(--container-shadow);

  @media screen and (min-width: 764px) {
    padding: 16px;
    // padding: 54px 86px;
  }
}

.test-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  @media screen and (min-width: 480px) {
    gap: 2rem;
    flex-direction: row;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    object-fit: cover;
    @media screen and (min-width: 764px) {
      width: 180px;
      height: 180px;
    }
    @media screen and (min-width: 1320px) {
      width: 280px;
      height: 280px;
    }
  }

  .test-info {
    gap: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 480px) {
      gap: 16px;
      align-items: flex-start;
    }
    h2 {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;

      text-transform: uppercase;
      color: #0e596d;
      @media screen and (min-width: 764px) {
        font-size: 2rem;
      }
    }

    .price {
      font-size: 0.8rem;
      font-weight: 300;

      //
      text-transform: uppercase;
      color: #444;
      @media screen and (min-width: 764px) {
        font-size: 1.3rem;
        margin-bottom: 0;
      }
    }
    .price.small-subtitle {
      font-size: 0.8rem;
      font-weight: 200;
      margin-bottom: 16px;

      //
      text-align: left;
      text-transform: lowercase;
      @media screen and (min-width: 764px) {
        font-size: 1rem;

        text-align: left;
      }
    }
  }
}
//
.fixed-btn-wrapper {
  position: sticky;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
  flex: 1;
  border-radius: 4px;
  //
  display: flex;
  justify-content: center;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease, visibility 0.4s ease, background 0.4 ease,
    transform 0.4s ease;
  background: var(--accent-color, #0e596d);

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(20px);
  }

  button {
    padding: 18px;
    border-radius: 50px;
    font-size: 0.8rem;
    //
    text-transform: uppercase;
    //
    font-weight: bold;
    color: #fff;
    background: var(--accent-color, #0e596d);
    border: none;
    cursor: pointer;
    transition: background 0.4s ease;
  }
}
