<section class="payment-container">
  <div class="payment-wrapper">
    <div class="test-card">
      <img [src]="currentCardInfo?.imageUrl + 'card/1.svg'" alt="Test image" />
      <div class="test-info" *ngIf="cardInfo$ | async as cardInfo">
        <h2>{{ currentCardInfo?.title }}</h2>
        <div class="price">Оплата {{ cardInfo.price }} пройшла успішно!</div>
        <button
          type="button"
          class="pay-button"
          (click)="navigateByClick(cardInfo.testName, cardInfo.testResults)"
        >
          Перейти до результатів
        </button>
      </div>
    </div>
  </div>
</section>
