<section class="payment-container">
  <div
    class="payment-wrapper"
    @fadeIn
    *ngIf="cardInfo$ | async as cardInfo; else loading"
  >
    <div class="test-card">
      <img [src]="currentCardInfo?.imageUrl + 'card/1.svg'" alt="Test image" />
      <div class="test-info">
        <h2>{{ currentCardInfo?.title }}</h2>
        <div class="price">Оплата пройшла успішно!</div>
        <button
          type="button"
          class="pay-button"
          (click)="navigateByClick(cardInfo.testName, cardInfo.results)"
        >
          Перейти до результатів
        </button>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <mat-spinner [diameter]="60"></mat-spinner>
  </ng-template>
</section>
