<section class="goals">
  <h3 class="goals-title title-primary">Відкрий свої сильні сторони.</h3>
  <div class="content-wrapper">
    <img
      class="img-1"
      src="../../../../../assets/new/core/main/man-in-mediatation.svg"
      alt=""
    />
    <div class="text-container">
      <h4>Зрозумій, що керує твоїми рішеннями.</h4>
      <p class="text text-1">
        Побудуй глибші стосунки, краще взаємодіючи з людьми.
      </p>
      <img
        class="img-mob"
        src="../../../../../assets/new/core/main/man-in-mediatation.svg"
        alt=""
      />
      <p class="text text-2">
        Світ стане простішим, коли ти зрозумієш, як працюєш саме ти – і як
        мислять інші. Почни свій шлях вже сьогодні!
      </p>
    </div>

    <img
      class="img-2"
      src="../../../../../assets/new/core/main/man-on-rocket.svg"
      alt=""
    />
  </div>
</section>
