<section class="home">
  <div class="hero">
    <app-hero-animation></app-hero-animation>
    <div class="relative-wrapper">
      <div class="card-tests-container">
        <app-hero-cards-slider [sliderKey]="'home'"></app-hero-cards-slider>
        <br />
      </div>
      <div class="absolute-wrapper">
        <div class="card-container">
          <div class="main-card hover-container">
            <div class="hero-content">
              <ng-container *ngIf="dayPhrase$ | async as dayPhrase">
                <div>
                  <div class="bg-text">
                    "{{ dayPhrase.allPhrases[0].phrase }}"
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="btn-wrapper">
              <app-primary-btn
                [textBtn]="'Записатися'"
                (onClick)="openDialog()"
              ></app-primary-btn>
            </div>
          </div>
        </div>
      </div>
    </div>

    @if (successRegistration()) {

    <div class="success-message">✅ Ви успішно записалися!</div>
    <br />
    }
    <app-information></app-information>
    <app-my-help></app-my-help>
    <app-benefits></app-benefits>
    <app-video-benefits></app-video-benefits>
    <app-goals></app-goals>
    <app-our-service-cards></app-our-service-cards>
  </div>
</section>
