<section class="home">
  <app-test-list-hero></app-test-list-hero>
  <div class="hero-bg">
    <div *ngIf="usersDayPhrase$ | async as usersDayPhrase">
      @if (usersDayPhrase.phrase) {

      <div class="users-type-wrapper">
        <img src="assets/svg/heart.svg" alt="Heart Icon" />
        <div class="users-type">
          Привіт {{ usersDayPhrase.personalityType }}
        </div>
      </div>
      <div class="bg-text">"{{ usersDayPhrase.phrase }}"</div>
      } @else {
      <div>
        <img src="assets/svg/heart.svg" alt="Heart Icon" />

        <div class="bg-text">Полюби себе!</div>
        <div class="bg-text">Цінуй себе!</div>
        <div class="bg-text">Будь собою!</div>
      </div>
      }
    </div>

    <app-accent-btn
      [textBtn]="'Записатися'"
      (onClickBtn)="openDialog()"
      [matColor]="'primary'"
    ></app-accent-btn>
  </div>

  @if (successRegistration()) {

  <div class="success-message">✅ Ви успішно записалися!</div>
  <br />
  }
  <div class="consultation-wrapper">
    <app-info-card></app-info-card>
  </div>
  <br />
  <br />
</section>
