<section class="home">
  <app-test-list-hero></app-test-list-hero>
  <div class="hero-bg">
    <div>
      <div class="bg-text">Полюби себе!</div>
      <div class="bg-text">Цінуй себе!</div>
      <div class="bg-text">Будь собою!</div>
    </div>
  </div>
  <app-consultation></app-consultation>
  <br />
  <br />
  <div class="btns-wrapper">
    <app-primary-btn (openDialog)="openDialog()"></app-primary-btn>
  </div>

  @if (successRegistration()) {

  <div class="success-message">✅ Ви успішно записалися!</div>
  }
</section>
