.results-container {
  max-width: 1320px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  padding: 40px 24px;

  background: #fff;
  margin-bottom: 26px;
  border-radius: 15px;

  @media screen and (min-width: 764px) {
    margin-bottom: 30px;
    padding: 40px 32px;
  }
  @media screen and (min-width: 1320px) {
    border-radius: 20px;
    padding: 81px 65px;
  }
}
.coffee-subCategory {
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 4px;

  text-decoration: underline;
}
.results-content {
  gap: 24px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 764px) {
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1320px) {
    margin-bottom: 60px;
    gap: 86px;
  }
  .title-mob {
    display: block;
    text-align: center;
    margin-bottom: 24px;
    @media screen and (min-width: 764px) {
      display: none;
    }
  }
  .results-image {
    max-height: auto;
    min-height: 230px;
    max-width: 442px;
    @media screen and (min-width: 1320px) {
      min-width: 442px;
      height: 322px;
      max-width: 442px;
    }
  }
  .you-coffee-container {
    padding-left: 24px;
    position: relative;
    @media screen and (min-width: 1320px) {
      padding-left: 0;
    }
    .results-image {
      @media screen and (min-width: 1320px) {
        min-width: 442px;
        height: 292px;
        width: 442px;
      }
    }
    .pointing-subtype-img {
      font-size: 18px;
      left: -2px;
      position: absolute;
      @media screen and (min-width: 1320px) {
        left: 34px;
        font-size: 24px;
      }
    }
  }

  h2 {
    margin-bottom: 18px;
    display: none;
    @media screen and (min-width: 764px) {
      margin-bottom: 42px;
      display: block;
    }
  }
  p {
    color: var(--color-text-primary);
  }
  @media screen and (min-width: 1320px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
//
.extension-wrapper {
  display: none;
  @media screen and (min-width: 1320px) {
    display: block;
  }
}
//
.shared-title {
  font-weight: 600;
  color: var(--color-text-primary);
  letter-spacing: 1.2px;
}
.countdown-wrapper {
  z-index: 99;
}
//
.results-text-list {
  gap: 30px;
  line-height: normal;

  display: flex;
  flex-direction: column;
}

.results-text-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-weight: 600;
    color: var(--color-text-primary);
    letter-spacing: 1.2px;
  }
  p {
    color: var(--color-text-primary);
  }
}

.target-audience {
  h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    @media screen and (min-width: 1320px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
}
.benefits {
  p {
    margin-bottom: 16px;
    line-height: normal;
    @media screen and (min-width: 1320px) {
      margin-bottom: 30px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    @media screen and (min-width: 1320px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
}
.testimonial {
  p {
    line-height: normal;
    margin-bottom: 16px;
    @media screen and (min-width: 1320px) {
      margin-bottom: 30px;
    }
  }
}
