.container {
  padding: 1rem 0;
  border-radius: 8px;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;

  color: #f1f1f1;
  font-style: italic;
}

.description {
  margin-top: 1rem;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.1em;

  color: #ddd;
}

.section {
  margin-top: 1.5rem;
  border-top: 1px solid #34495e;
  padding-top: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: 200;

  text-align: left;
  color: #2980b9;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  letter-spacing: 0.1em;

  text-align: left;
  color: #fff;
}

li:last-child {
  margin-bottom: 0;
}

.summary {
  padding: 1.5rem 0;
  border-radius: 8px;

  font-style: italic;
  color: #f1f1f1;
}

.summary h3 {
  font-size: 1.5rem;
  font-weight: 600;

  color: #fff;
}

.summary p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: 0.1em;

  text-align: left;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .section h3 {
    font-size: 1.5rem;
  }

  ul {
    padding-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  h2 {
    font-size: 2.5rem;
  }

  .summary h3 {
    font-size: 1.75rem;
  }
}
