.scroll-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  //

  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;

  //
  border: 2px solid #993c49;
  background: linear-gradient(90deg, #993c49 0%, #ff6479 100%);
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
  transform: rotate(-90deg) scale(0.9);
  transition: transform 0.3s ease;

  .btns-icon {
    width: 24px;
    height: 24px;
    animation: floatUp 1.5s infinite ease-in-out;
    stroke: #fff;
  }

  &:hover,
  &:active {
    transform: rotate(-90deg) scale(1.1);
  }
}
@keyframes floatUp {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(3); //translateX because of rotation 90deg
    opacity: 0.9;
  }
  50% {
    transform: translateX(5px);
    opacity: 0.8;
  }
  75% {
    transform: translateX(3px);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
