.consultations {
  width: 100%;
  padding: 40px 0;
  background-size: 100px;

  color: #fff;
  box-sizing: border-box;

  font-family: "Roboto", serif;

  @media screen and (min-width: 764px) {
    background-size: 130px;
    padding: 60px 20px;
  }
  .img-wrapper {
    gap: 8px;

    display: flex;
    align-items: center;
    img {
      width: 100px;
      height: auto;
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: space-between;
    gap: 20px;
    @media screen and (min-width: 764px) {
      gap: 30px;
      flex-direction: row;
    }
  }
  h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 400;
    font-size: 22px;

    font-family: "Roboto", serif;
    font-style: italic;
    color: #ff2e63;
    @media screen and (min-width: 764px) {
    }
  }

  h3 {
    font-weight: 400;

    font-style: italic;
    color: #ff2e63;
  }
  .list-img-wrapper {
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;

    font-family: "Roboto", serif;
    color: #f1f1f1;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  ul {
    padding: 0;
    gap: 8px;

    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
  }

  li {
    margin: 8px 0;
    font-size: 16px;
    font-family: "Roboto", serif;
    font-style: normal;
    color: #fff;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  // ===================
  // BUTTON
  .dialog-btn {
    padding: 0.8em 1.75em;
    border-radius: 6px;
    transition: 0.5s;
    z-index: 1;
    font-weight: 300;
    margin: 0 auto;
    font-size: 17px;

    display: block;
    --color: #1ecea2;
    --color2: rgb(10, 25, 30);
    background-color: transparent;
    border: 0.3px solid #1ecea2;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    font-family: "Roboto", "Segoe UI", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color);
  }

  .dialog-btn::after,
  .dialog-btn::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: 0.4s ease-out;
    background-color: var(--color);
  }

  .dialog-btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
  }

  .dialog-btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
  }

  .dialog-btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
  }

  .dialog-btn:hover {
    color: var(--color2);
  }

  .dialog-btn:active {
    filter: brightness(0.7);
    transform: scale(0.98);
  }

  .consultations-image {
    max-width: 300px;
    display: none;

    img {
      width: 100%;
      border-radius: 12px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
      @media screen and (min-width: 764px) {
        max-width: 450px;
      }
    }

    @media screen and (min-width: 764px) {
      display: block;
    }
  }
}
