<section class="consultations">
  <div class="container">
    <div class="consultations-content">
      <h2>Ти унікальний. Відкрий свої сильні сторони.</h2>
      <p>
        Чому ми такі різні? Одні легко орієнтуються в хаосі, інші потребують
        чіткої структури. Хтось спонтанно кидається в нові можливості, а хтось
        ретельно продумує кожен крок. Чи бувало в тебе таке, що ти не розумів,
        чому інші люди думають інакше?
      </p>
      <br />
      <p>
        Розуміння себе – це ключ до гармонійного життя та кращих стосунків.
        Уяви, що ти маєш карту, яка пояснює, чому ти приймаєш рішення саме так,
        чому деякі ситуації тебе виснажують, а інші – наповнюють енергією.
      </p>
      <br />
      <p>
        Але ми не існуємо у вакуумі. У кожної людини свій внутрішній світ, свої
        емоції, свої реакції. Як часто ми неправильно інтерпретуємо дії інших,
        думаючи, що вони «повинні були зрозуміти» нас?
      </p>
      <br />
      <h3>Я допоможу тобі розібратися:</h3>

      <div class="list-img-wrapper">
        <ul>
          <li>• Як працює твій розум і що робить тебе унікальним.</li>
          <li>
            • Чому тобі легко знаходити нестандартні рішення, або, навпаки,
            важливо мати чітку систему.
          </li>
          <li>
            • Як ти реагуєш на нове: імпульсивно кидаєшся в можливості чи
            ретельно все аналізуєш?
          </li>
          <li>
            • Як ти сприймаєш конфлікти: намагаєшся зрозуміти емоції іншої
            людини чи шукаєш логічне рішення?
          </li>
        </ul>
      </div>
      <br />
      <div class="img-wrapper">
        <h3>Для кого це?</h3>
        <img src="assets/imgs/feeling-affection.svg" alt="" />
      </div>
      <ul>
        <li>
          ✅ Любиш великі ідеї та приховані закономірності? Тобі цікаво, чому
          люди приймають рішення саме так? Тоді тобі сподобається.
        </li>
        <li>
          ✅ Відчуваєш, що дрібниці важливі? Деякі речі здаються інтуїтивно
          зрозумілими, але коли їх помічаєш – все стає на свої місця.
        </li>
        <li>
          ✅Ти хочеш розібратися в собі? Зрозуміти свої сильні сторони,
          дізнатися, що тебе надихає, а що забирає енергію?
        </li>
        <li>
          ✅Хочеш будувати глибші зв’язки? Дізнайся, як розуміти людей на рівні,
          який змінить твоє спілкування назавжди.
        </li>
      </ul>
      <div class="img-wrapper">
        <h3>Що ти отримаєш?</h3>
        <img src="assets/svg/benefits.svg" alt="" />
      </div>
      <ul>
        <li>
          <strong> Зрозумієш свої таланти </strong> – дізнаєшся, у чому твоя
          природна сила і як її розвивати.
        </li>
        <li>
          <strong> Розберешся зі своїми бажаннями </strong> – чого ти насправді
          хочеш і що приносить тобі задоволення.
        </li>
        <li>
          <strong> Навчишся використовувати свої сильні сторони </strong> –
          перестанеш боротися з собою і почнеш діяти так, як тобі комфортно.
        </li>
        <li>
          <strong> Дізнаєшся, що керує твоїми рішеннями </strong> – почнеш
          приймати їх усвідомлено, а не під впливом зовнішніх обставин.
        </li>
        <li>
          <strong>
            Розкриєш свої природні здібності у взаємодії з людьми
          </strong>
          – навчишся будувати гармонійні стосунки без зайвих конфліктів.
        </li>
        <li>
          <strong> Почнеш краще розуміти інших </strong>
          – помічати, як мислять люди навколо, і спілкуватися без непорозумінь.
        </li>
        <li>
          <strong>Відкриєш новий рівень самопізнання</strong>
          – нарешті побачиш чітку картину, чому ти саме
        </li>
      </ul>
      <br />
      <hr />
      <br />
      <div class="img-wrapper">
        <h3>Відкрий свої сильні сторони.</h3>
        <img src="assets/svg/tests/person-computer.svg" alt="" />
      </div>
      <br />
      <p>
        Зрозумій, що керує твоїми рішеннями. Побудуй глибші стосунки, краще
        взаємодіючи з людьми.
      </p>
      <br />
      <p>
        Світ стане простішим, коли ти зрозумієш, як працюєш саме ти – і як
        мислять інші. Почни свій шлях вже сьогодні!
      </p>
      <br />

      <h4>Для цього на сайті є:</h4>
      <ul>
        <li>
          •
          <strong class="list-link" routerLink="/tests">Тести</strong>
          – дізнайся більше про свою особистість та взаємодію з іншими.
        </li>
        <li>
          •
          <strong>Курси</strong>
          – глибші знання про мислення, емоції та стосунки у зручному форматі.
        </li>
        <li>
          •
          <strong>Індивідуальні консультації</strong>
          – якщо хочеш розібратися в собі глибше та отримати персональні поради
        </li>
      </ul>
      <br />

      <button class="dialog-btn" (click)="openDialogConflations()">
        Записатися
      </button>
    </div>
  </div>
</section>
