<section class="consultations">
  <div class="container">
    <div class="consultations-content">
      <h2>Ваш успіх — мій пріоритет!</h2>
      <p>
        Чому ми не завжди розуміємо одне одного? Чому хтось думає логічно, а
        хтось відчуває глибше? Чому одні люди діють миттєво, а інші все
        аналізують?
      </p>
      <p>
        Я допомагаю тобі зрозуміти себе, свого партнера, друзів, колег – через
        аналіз особистісних типів та когнітивних функцій. Це не просто теорія, а
        ключ до глибшого розуміння себе та інших.
      </p>
      <div class="list-img-wrapper">
        <ul>
          <li>
            🔹 Для аналітиків (INTJ, INTP, ISTJ, ISTP): розкладу все по
            поличках, поясню системно та логічно.
          </li>
          <li>
            🔹 Для чутливих ідеалістів (INFJ, INFP, ISFJ, ISFP): допоможу
            розкрити глибину ваших відчуттів та знайти гармонію.
          </li>
          <li>
            🔹 Для стратегів і лідерів (ENTJ, ENTP, ESTJ, ESTP): покажу
            ефективні способи взаємодії та розвитку.
          </li>
          <li>
            🔹 Для енергійних комунікаторів (ENFJ, ENFP, ESFJ, ESFP): навчу
            краще розуміти людей та вибудовувати міцні зв’язки.
          </li>
        </ul>
        <div class="consultations-image">
          <img src="assets/avatar-consultations.jpg" alt="Консультации" />
        </div>
      </div>
      <h2>📌 Що ти отримаєш?</h2>
      <ul>
        <li>✅ Чітке розуміння свого особистісного типу</li>
        <li>✅ Інсайти про стосунки та взаємодію з іншими</li>
        <li>✅ Практичні поради, як будувати гармонійне життя</li>
      </ul>
      <p>
        💡 Розуміння себе – це перший крок до внутрішньої свободи. Почнемо
        разом?
      </p>
      <hr />
      <h2>Дізнайся, що робить тебе унікальним!</h2>
      <p>
        Ти коли-небудь замислювався, чому одні люди діють миттєво, а інші
        обдумують усе до дрібниць? Чому хтось заряджається від спілкування, а
        хтось відпочиває наодинці?
      </p>
      <ul>
        <li>🔹 Зрозумій себе глибше.</li>
        <li>🔹 Дізнайся, що керує твоїми рішеннями.</li>
        <li>
          🔹 Навчися будувати кращі стосунки та ефективніше взаємодіяти з
          людьми.
        </li>
      </ul>

      <button class="link-btn" (click)="openDialogConflations()">
        👉 Записатися
      </button>
    </div>
  </div>
</section>
