.consultations {
  width: 100%;
  padding: 20px 0;
  background-size: 100px;
  letter-spacing: 0.01em;
  border-radius: 8px;

  background-color: var(--bgColorBox);
  color: var(--textColor);

  box-sizing: border-box;

  @media screen and (min-width: 764px) {
    background-size: 130px;
    padding: 20px;
  }
  .img-wrapper {
    gap: 16px;
    letter-spacing: 0.01em;
    max-width: 600px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 80px;
      height: auto;
    }
  }
  .container {
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
    letter-spacing: 0.01em;

    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: space-between;
    @media screen and (min-width: 764px) {
      gap: 30px;
      flex-direction: row;
    }
  }
  h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 22px;

    font-style: italic;
    color: #ff2e63;
    @media screen and (min-width: 764px) {
    }
  }

  h3 {
    font-weight: 500;
    margin-bottom: 8px;
    letter-spacing: 0.01em;

    font-style: italic;
    color: var(--textColor);
  }
  h4 {
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 0.01em;
    font-size: 18px;

    font-style: italic;
    color: var(--textColor);
  }
  .list-img-wrapper {
  }
  .list-link {
    text-decoration: underline;
    cursor: pointer;
  }
  p {
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.01em;
    margin-bottom: 8px;

    color: var(--textColor);

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  ul {
    padding: 0;
    gap: 8px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
  }

  li {
    margin: 8px 0;
    letter-spacing: 0.01em;
    font-size: 16px;
    line-height: 150%;

    font-style: normal;
    color: var(--textColor);

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }

  .consultations-image {
    max-width: 300px;
    display: none;

    img {
      width: 100%;
      border-radius: 12px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
      @media screen and (min-width: 764px) {
        max-width: 450px;
      }
    }

    @media screen and (min-width: 764px) {
      display: block;
    }
  }
}
