.consultations {
  width: 100%;
  padding: 20px 0;
  background-size: 100px;

  color: #fff;
  box-sizing: border-box;

  font-family: "Roboto", serif;

  @media screen and (min-width: 764px) {
    background-size: 130px;
    padding: 20px;
  }
  .img-wrapper {
    gap: 16px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 80px;
      height: auto;
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: space-between;
    gap: 20px;
    @media screen and (min-width: 764px) {
      gap: 30px;
      flex-direction: row;
    }
  }
  h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 400;
    font-size: 22px;

    font-family: "Roboto", serif;
    font-style: italic;
    color: #ff2e63;
    @media screen and (min-width: 764px) {
    }
  }

  h3 {
    font-weight: 400;
    margin-bottom: 8px;
    font-style: italic;
    color: #ff2e63;
  }
  h4 {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;

    font-style: italic;
    color: #ccc;
  }
  .list-img-wrapper {
  }
  .list-link {
    text-decoration: underline;
    cursor: pointer;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;

    font-family: "Roboto", serif;
    color: #f1f1f1;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  ul {
    padding: 0;
    gap: 8px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
  }

  li {
    margin: 8px 0;
    font-size: 16px;
    font-family: "Roboto", serif;
    font-style: normal;
    color: #fff;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  // ===================
  // BUTTON
  .dialog-btn {
    padding: 0.8em 1.75em;
    border-radius: 6px;
    transition: 0.5s;
    z-index: 1;
    font-weight: 300;
    width: 164px;
    margin: 0 auto;
    font-size: 17px;

    display: block;
    color: #fff;
    background-color: #43b02a;
    position: relative;
    overflow: hidden;
    border: 1px solid #43b02a;
    cursor: pointer;

    font-family: "Roboto", "Segoe UI", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: var(--color);

    &:hover {
      background-color: #31811f;
      border: 1px solid #31811f;
    }
  }

  .consultations-image {
    max-width: 300px;
    display: none;

    img {
      width: 100%;
      border-radius: 12px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
      @media screen and (min-width: 764px) {
        max-width: 450px;
      }
    }

    @media screen and (min-width: 764px) {
      display: block;
    }
  }
}
