.users-card {
  gap: 8px;
  padding: 4px;

  border-bottom: 2px solid #ccc;
  color: var(--textColor);

  display: flex;
  align-items: center;
  img {
    width: 42px;
    height: 42px;
    border-radius: 12px;
  }
  .content-wrapper {
    p {
      font-size: 14px;
      font-weight: 200;
    }
    h3 {
      font-weight: 400;
      text-decoration: underline;
    }
  }
}
