ul {
  gap: 8px;

  display: flex;
  justify-content: center;
  overflow-x: auto;
  scrollbar-width: thin;
  position: relative;
}
img {
  min-width: 32px;
  height: auto;
  display: block;
  @media screen and (min-width: 768px) {
    width: 44px;
  }
}
