.personality-info-container {
  padding: 1rem;
  min-height: 100vh;

  border-radius: 12px;
  box-shadow: var(--boxShadow);
  background-color: var(--bgColorBox);
}

.info-card {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.info-section {
  margin-top: 16px;
  border-radius: 12px;

  transition: all 0.3s ease-in-out;
}
.highlighted-title {
  font-size: 1.8rem;
  padding: 12px;
  max-width: 98%;
  border-left: 6px solid #e63946;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(230, 57, 70, 0.2);

  font-weight: bold;
  color: var(--textColorTitle);
  background: linear-gradient(90deg, #fff0f0, #ffeaea);

  position: relative;
  animation: pulseGlow 2.5s infinite ease-in-out;
  transition: transform 0.3s ease;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px rgba(230, 57, 70, 0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(230, 57, 70, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(230, 57, 70, 0.4);
  }
}

.card-header {
  color: var(--textColor);

  border-radius: 12px 12px 0 0;
  text-align: center;

  h2 {
    letter-spacing: 0.05em;
    color: var(--textColorTitle);
    font-size: 24px;
    margin: 0;
    span {
      font-style: italic;
      font-size: 16px;
    }
    @media screen and (min-width: 764px) {
      font-size: 34px;
    }
  }
  h3 {
    font-size: 1em;
    opacity: 0.8;
    margin-top: 5px;

    text-align: left;
    @media screen and (min-width: 764px) {
      font-size: 1.2em;
    }
  }

  .subtitle {
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 0.1em;
    margin-top: 5px;
    font-style: italic;
    color: var(--textColor);

    text-align: center;

    @media screen and (min-width: 764px) {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 764px) {
    padding: 1rem 0;
  }
}

.card-content {
  line-height: 1.6;

  .info-section {
    margin-bottom: 30px;
    h3 {
      font-size: 18px;
      color: var(--textColor);

      border-radius: 12px;
      padding: 8px;
      margin-bottom: 16px;

      text-align: left;

      padding-bottom: 10px;
      @media screen and (min-width: 764px) {
        font-size: 22px;
      }
    }
    h4 {
      font-size: 18px;
      letter-spacing: 0.01em;
      padding: 4px;

      color: var(--textColor);
      text-align: left;
    }
    ul {
      padding-left: 0;
      padding: 8px;
    }
    p {
      font-size: 16px;
      padding: 8px 0;
      letter-spacing: 0.01em;

      text-align: left;
      color: var(--textColor);

      font-style: normal;
      transition: color 0.3s ease;
      @media screen and (min-width: 764px) {
        font-size: 18px;
      }
    }
    li {
      font-size: 16px;
      padding: 8px 0;
      letter-spacing: 0.01em;

      text-align: left;
      color: var(--textColor);

      font-style: normal;
      transition: color 0.3s ease;
      @media screen and (min-width: 764px) {
        font-size: 18px;
      }
    }
  }
}
.benefits {
  li {
    padding: 6px;
  }
}

.card-footer {
  text-align: center;
  color: var(--textColor);
  background-color: var(--bgColorBox);

  font-style: italic;
  border-radius: 0 0 12px 12px;
  p {
    letter-spacing: 0.01em;
    font-size: 1.2em;
    margin: 0;
  }
}
