<div class="personality-info-container">
  <div class="info-card" *ngIf="personInformation">
    <div class="card-header">
      <!-- <h2>
        {{ personInformation.type }}

        <span>({{ personType }})</span>
      </h2>
      <p class="subtitle">{{ personInformation.description }}</p> -->
    </div>

    <div class="card-content">
      <div class="info-section" id="strengths">
        <h3>Сильні сторони</h3>
        <ul>
          <li *ngFor="let strength of personInformation.strengths">
            📌 {{ strength }}
          </li>
        </ul>
      </div>
      <hr />
      <br />
      <div class="info-section">
        <h3>Слабкі сторони</h3>
        <ul id="weaknesses">
          <li *ngFor="let weakness of personInformation.weaknesses">
            🔴 {{ weakness }}
          </li>
        </ul>
      </div>
      <hr />
      <br />
      <div class="info-section">
        <h3>Сприйняття</h3>
        <div class="perception-group" id="perception">
          <div class="perception-types">
            <h4>Інтуїція:</h4>
            <ul>
              <li *ngFor="let item of personInformation.perception.intuition">
                📌 {{ item }}
              </li>
            </ul>
          </div>
          <hr />
          <div class="perception-types">
            <h4>Почуття:</h4>
            <ul>
              <li *ngFor="let item of personInformation.perception.feelings">
                📌 {{ item }}
              </li>
            </ul>
          </div>
          <hr />

          <div class="perception-types">
            <h4>Спонтанність:</h4>
            <ul>
              <li *ngFor="let item of personInformation.perception.spontaneity">
                📌 {{ item }}
              </li>
            </ul>
          </div>
          <hr />

          <div class="perception-types">
            <h4>Логіка:</h4>
            <ul>
              <li *ngFor="let item of personInformation.perception.logic">
                📌 {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />

      <div class="info-section">
        <h3>Взаємовідносини</h3>
        <ul id="relationships">
          <li *ngFor="let trait of personInformation.relationships.traits">
            {{ trait }}
          </li>
        </ul>
      </div>
      <hr />

      <div class="info-section">
        <h3>Кар'єра</h3>
        <div class="career-group" id="career">
          <div>
            <h4>Уподобання:</h4>
            <ul>
              <li
                *ngFor="let preference of personInformation.career.preferences"
              >
                📌 {{ preference }}
              </li>
            </ul>
          </div>
          <div>
            <h4>Найкращі сфери:</h4>
            <ul>
              <li *ngFor="let field of personInformation.career.bestFields">
                📌 {{ field }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-navigation">
      <button
        *ngFor="let section of sectionList"
        (click)="scrollToSection(section.id)"
      >
        {{ section.label }}
      </button>
    </div>
    <div class="card-footer">
      <p>{{ personInformation.conclusion }}</p>
    </div>
  </div>
</div>
