<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Ваше ім'я</mat-label>
    <input matInput formControlName="name" placeholder="Наприклад: Олександр" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Нік в Instagram або Telegram</mat-label>
    <input
      matInput
      formControlName="socialMedia"
      placeholder="Наприклад: @my_nickname"
    />
    <div
      class="error-message"
      *ngIf="
        formGroup.get('socialMedia')?.errors?.['pattern'] ||
        formGroup.get('socialMedia')?.errors?.['minlength'] ||
        formGroup.get('socialMedia')?.errors?.['maxlength']
          "
    >
      Нік повинен починатися з &#64;, містити тільки латинські літери, цифри або
      _ та бути довжиною від 5 до 30 символів.
    </div>
  </mat-form-field>
</form>
