<form [formGroup]="formGroup" class="consultation-form">
  <mat-form-field>
    <mat-label>Ваше ім'я</mat-label>
    <input matInput formControlName="name" placeholder="Наприклад: Олександр" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Нік в Instagram або Telegram</mat-label>
    <input
      matInput
      formControlName="socialMedia"
      placeholder="Наприклад: @my_nickname"
    />
    <div
      class="error-message"
      *ngIf="
        formGroup.get('socialMedia')?.errors?.['pattern'] ||
        formGroup.get('socialMedia')?.errors?.['minlength'] ||
        formGroup.get('socialMedia')?.errors?.['maxlength']
          "
    >
      Нік повинен починатися з &#64;, містити тільки латинські літери, цифри або
      _ та бути довжиною від 5 до 30 символів.
    </div>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Номер телефону (не обов'язково)</mat-label>
    <input
      matInput
      formControlName="phone"
      placeholder="Наприклад: 0961234567"
    />
    <div class="error-message" *ngIf="formGroup.get('phone')?.errors as errors">
      <span *ngIf="errors['pattern']">Номер має містити лише цифри.</span>
      <span *ngIf="errors['minlength']">Номер занадто короткий.</span>
      <span *ngIf="errors['maxlength']">Номер занадто довгий.</span>
    </div>
  </mat-form-field> -->
</form>
