.panel {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.panel-header {
  padding: 18px;
  gap: 24px;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1320px) {
    padding: 40px 24px;
    gap: 42px;
  }
  .direction-content {
    gap: 16px;

    display: flex;
    fill: var(--color-text-primary);
    transition: all 0.3s linear;
    p {
      color: var(--color-text-primary);
      font-size: 20px;
      letter-spacing: 1.2px;
    }
    svg {
      width: 27px;
      height: 27px;
      @media screen and (min-width: 1320px) {
      }
    }
    &.open {
      svg {
        transition: all 0.3s linear;
        & {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.panel-body {
  padding: 16px 20px;
}
