<div class="panel">
  <mat-accordion>
    <mat-expansion-panel [expanded]="isOpen()">
      <mat-expansion-panel-header (click)="toggle()">
        <div class="panel-header">
          <h3 class="title-primary">{{ title }}</h3>
          @if (!isOpen()) {

          <p class="subtitle">{{ subtitle }}</p>
          }
          <div
            class="text-toggle-wrapper"
          >
            <span
              class="direction-content"
              [class.disappear-test]="isOpen()"
              [class.appear-text]="!isOpen()"
            >
              <p class="subtitle">Читати більше</p>

              <mat-icon
                class="icon-svg"
                [class.open]="isOpen()"
                [svgIcon]="'arrows'"
              ></mat-icon>
            </span>
            <span
              class="direction-content"
              [class.disappear-test]="!isOpen()"
              [class.appear-text]="isOpen()"
            >
              <p class="subtitle">Згорнути</p>

              <mat-icon
                class="icon-svg"
                [class.open]="isOpen()"
                [svgIcon]="'arrows'"
              ></mat-icon>
            </span>
          </div>
        </div>
      </mat-expansion-panel-header>

      <div class="panel-body" *ngIf="isOpen()">
        <ng-content></ng-content>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
