<section class="test">
  <div
    class="score-wrapper"
    *ngIf="(isShowResults$ | async) && (scores$ | async) as scores"
  >
    <ng-container *ngFor="let key of scoreKeys">
      <div class="dsc-wrapper">
        <div *ngFor="let desc of getDescriptionsArray(key)">
          <div>{{ desc.value }}</div>
        </div>
      </div>
      <div class="score">
        <div
          [style.width]="scores[key] * 10 + 'px'"
          class="bg-score"
          [ngClass]="useColorByResult(key)"
        >
          <p>{{ scores[key] }} балів</p>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="container" *ngIf="!(isShowResults$ | async)">
    <h2 class="section-title">Пройди тест на особистість</h2>
    <form
      [formGroup]="personalityForm"
      (ngSubmit)="onSubmit()"
      *ngIf="personalitiesTest$ | async as questions"
    >
      <ng-container *ngFor="let q of questions; let i = index">
        <div
          class="question-card"
          [hidden]="(currentQuestionNumber$ | async) !== i + 1"
        >
          <div *ngIf="q">
            <h3>{{ q.id }}.{{ q.question }}</h3>
            <div class="answers">
              <label *ngFor="let answer of answers">
                <input
                  [formControlName]="q.id.toString()"
                  type="radio"
                  [value]="answer.point"
                />
                {{ answer.text }}
              </label>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="btn-wrapper">
        <button
          type="button"
          *ngIf="
            (currentQuestionNumber$ | async) !== 1 &&
            (currentQuestionNumber$ | async) !== 90
          "
          (click)="previousQuestion()"
          class="btn"
        >
          Попереднє питання
        </button>
        <button
          type="button"
          *ngIf="personalityForm.invalid"
          (click)="nextQuestion()"
          class="btn"
        >
          Наступне питання
        </button>
        <button
          *ngIf="this.personalityForm.valid"
          type="submit"
          class="btn"
          [disabled]="personalityForm.invalid"
        >
          Завершити тест
        </button>
      </div>
    </form>
  </div>
</section>
