<button class="menu-btn" (click)="toggleMenu()">
  <label class="hamburger">
    <input
      type="checkbox"
      (change)="toggleMenu()"
      [checked]="isMenuOpen$ | async"
    />
    <svg viewBox="0 0 33 33">
      <path
        class="line line-top-bottom"
        d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
      ></path>
      <path class="line" d="M7 16 27 16"></path>
    </svg>
  </label>
</button>

<div class="mobile-menu" [class.open]="isMenuOpen$ | async">
  <ng-container *ngIf="usersPhrase$ | async as usersPhrase">
    <app-user-personality-card
      [usersTypeName]="usersPhrase.userTypeName"
    ></app-user-personality-card>
  </ng-container>
  <br />
  <br />
  <app-toggle-btn></app-toggle-btn>
  <ul>
    <br />
    <li routerLink="/" routerLinkActive="active" (click)="toggleMenu()">
      Головна
    </li>
    <li routerLink="/tests" routerLinkActive="active" (click)="toggleMenu()">
      Тести
    </li>
    <li
      routerLink="/consultations"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      Аналіз особистості
    </li>
    <li
      style="display: none"
      routerLink="/courses"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      Курси
    </li>

    <li routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">
      Про нас
    </li>
    <li routerLink="/contacts" routerLinkActive="active" (click)="toggleMenu()">
      Контакти
    </li>
  </ul>
</div>

<div
  class="menu-backdrop"
  [class.open]="isMenuOpen$ | async"
  (click)="toggleMenu()"
></div>
