@use "@angular/material" as mat;
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  background-color: #073136;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
