.main-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 18px 18px 18px 18px;

  @media screen and (min-width: 764px) {
    padding: 64px 18px;
  }
}
.shadow-wrapper {
  box-shadow: var(--container-shadow);
  border-radius: var(--border-radius-primary);
  padding: 18px;
  @media screen and (min-width: 764px) {
    box-shadow: none;
    padding: 0;
  }
}
//
.question-container {
  min-width: 250px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;

  border-radius: var(--border-radius-primary);
  background: var(--bg-container-white);
  color: var(--color-text-primary);
  @media screen and (min-width: 480px) {
    gap: 10px;
    min-width: 380px;
  }
  @media screen and (min-width: 764px) {
    padding: 81px 65px;
    box-shadow: var(--container-shadow);
  }
}
//
.card-payment-wrapper {
  margin: 30px auto;
  width: 100%;
  @media screen and (min-width: 764px) {
    margin: 0 auto;
    // margin-top: 60px;
  }
}
//

//

::ng-deep .custom-snackbar .mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 20px !important;
}
::ng-deep .custom-snackbar .mat-mdc-button {
  @media screen and (max-width: 764px) {
    max-width: 120px !important;
    font-size: 12px !important;
  }
}

//

.progressbar-container {
  position: absolute;
  bottom: 0;
}

.refresh-btn-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 12px;
    text-transform: uppercase;
    @media screen and (min-width: 764px) {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 764px) {
  }
}

form {
  min-width: 100%;
}
.question-title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  font-style: var(--font-main);
  color: var(--color-text-primary);

  letter-spacing: 0.03em;
  line-height: 1;
  text-align: left;
  display: none;
  text-transform: uppercase;
  @media screen and (min-width: 480px) {
    font-size: var(--font-size-xl);
  }
  @media screen and (min-width: 764px) {
    margin-bottom: 64px;
    letter-spacing: 1.2px;
    font-size: var(--font-size-xxl);
    display: block;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 112px;
  }
}
.question-title-mob {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 1rem;
  //
  display: block;
  text-transform: uppercase;
  @media screen and (min-width: 764px) {
    display: none;
  }
}

//
.animated-container {
  margin-bottom: 23px;

  @media screen and (min-width: 764px) {
    margin-bottom: 112px;
  }
}
.answers {
  gap: 24px;
  padding-left: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  @media screen and (min-width: 764px) {
  }
}
