.main-container {
  max-width: 1320px;
  padding: 18px;
  margin: 0 auto;

  @media screen and (min-width: 764px) {
    padding: 64px 18px;
  }
}
.question-container {
  min-width: 250px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;

  border-radius: var(--border-radius-primary);
  background: var(--bg-container-white);
  color: var(--color-text-primary);
  @media screen and (min-width: 480px) {
    gap: 10px;
    min-width: 380px;
  }
  @media screen and (min-width: 764px) {
    padding: 81px 65px;
    box-shadow: var(--container-shadow);
  }
}
//
.card-payment-wrapper {
  margin: 30px auto;
  width: 100%;
  @media screen and (min-width: 764px) {
    margin: 0 auto;
    // margin-top: 60px;
  }
}
//
.instructions-container {
  .instructions-header {
    gap: 12px;
    padding: 12px 0;
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @media screen and (min-width: 764px) {
      gap: 16px;
      flex-direction: row;
    }
  }
  h3 {
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 764px) {
      margin-bottom: 0;

      text-align: left;
    }
  }
  img {
    width: 40%;
    min-width: 200px;
    min-height: 150px;
    @media screen and (min-width: 764px) {
      width: 20%;
    }
  }
  .instructions-list {
    gap: 16px;

    display: flex;
    flex-direction: column;
  }
}

//

::ng-deep .custom-snackbar .mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 20px !important;
}
::ng-deep .custom-snackbar .mat-mdc-button {
  @media screen and (max-width: 764px) {
    max-width: 120px !important;
    font-size: 12px !important;
  }
}
.btn-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  @media screen and (min-width: 764px) {
    justify-content: flex-start;
  }
}
//

.progressbar-container {
  position: absolute;
  bottom: 0;
}

.refresh-btn-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 12px;
    @media screen and (min-width: 764px) {
      font-size: 16px;
    }
  }
}
.question.question-mob {
  display: block;
  margin-bottom: 24px;
  margin-top: 24px;
  @media screen and (min-width: 764px) {
    display: none;
  }
}
form {
  min-width: 100%;
}
.question {
  top: 18px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  font-style: var(--font-main);
  color: var(--color-text-secondary);
  margin-bottom: 14px;

  letter-spacing: 1.1px;
  line-height: 1;
  text-align: left;
  display: none;
  @media screen and (min-width: 480px) {
    font-size: var(--font-size-xl);
  }
  @media screen and (min-width: 764px) {
    margin-bottom: 64px;
    letter-spacing: 1.2px;
    font-size: var(--font-size-xxl);
    display: block;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 112px;
  }
}
.animated-container {
  margin-bottom: 23px;

  @media screen and (min-width: 764px) {
    margin-bottom: 112px;
  }
}
.answers {
  gap: 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  @media screen and (min-width: 764px) {
  }
}
