<app-title-card
  [titleText]="testTitleText"
  [subtitleText]="testSubtitleText"
  *ngIf="!showTextBoard()"
></app-title-card>
<ng-container *ngIf="testQuestions$ | async as questions">
  <ng-container *ngIf="!showTextBoard(); else boardContainer">
    <div class="refresh-btn-wrapper">
      <app-refresh-button (refreshTest)="refreshTest()"></app-refresh-button>
      <P class="subtitle"> {{ questions.length | questionWord }} </P>
    </div>
    <app-questions-stepper
      [formGroup]="formGroup"
      [questions]="questions"
      [currentQuestionNumber]="currentQuestionNumber()"
      (changeViewQuestion)="changeViewQuestion($event)"
    ></app-questions-stepper>
    <h3 class="question question-mob">
      {{ questions[currentQuestionNumber() - 1]?.question }}
    </h3>

    <div class="wrapper">
      <div class="container" *ngIf="questions">
        <form [formGroup]="formGroup">
          <ng-container *ngFor="let q of questions; let i = index">
            @if (q.id===currentQuestionNumber() ) {
            <div class="animated-container" @fadeIn>
              <div class="question-card">
                <div *ngIf="q">
                  <h3 class="question">{{ q.question }}</h3>
                  <div class="answers">
                    <ng-container
                      *ngFor="let answer of q.answers; let answerIndex = index"
                    >
                      <app-question-option
                        [answerIndex]="answerIndex"
                        [questionsId]="q.id"
                        [answer]="answer"
                        [testName]="TEST_NAME"
                        (answerQuestion)="answerQuestionByClick($event)"
                      ></app-question-option>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            }
          </ng-container>
          <div class="btn-wrapper" *ngIf="formGroup.valid">
            <app-primary-btn
              [isDisabled]="isSubmitting()"
              [textBtn]="'Результати'"
              (onClick)="onSubmit()"
            ></app-primary-btn>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #boardContainer>
  <div class="container" @fadeIn>
    <h3 class="title">
      Дотримуйтесь наступних кроків, щоб отримати максимальний результат:
    </h3>

    <br />
    <ul class="board-content-list">
      <li class="subtitle">1. Дайте відповідь на всі питання</li>
      <li class="subtitle">
        2. Отримаєте результати, які дадуть змогу дізнатись більше про себе
      </li>
      <li class="subtitle">
        3. Після результатів не зволікайте — запишіться на безкоштовну
        60-хвилинну консультацію
      </li>
    </ul>
    <br />

    <div class="btn-wrapper">
      <app-primary-btn
        [textBtn]="'Почати тест'"
        (onClick)="hideTextBoardOnClick()"
      ></app-primary-btn>
    </div>
  </div>
</ng-template>
