.card {
  padding: 24px;
  min-width: 300px;
  width: 100%;
  flex: 1 1 100%;
  gap: 16px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;

  @media screen and (min-width: 764px) {
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 1320px) {
    padding: 24px 32px;
    height: 300px;
    flex-direction: row;
    align-items: center;
  }

  .badge {
    display: none;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    @media screen and (min-width: 480px) {
      flex-direction: row-reverse;
      align-items: center;
    }

    @media screen and (min-width: 1320px) {
      flex-direction: column;
    }
  }

  .card-content {
    position: relative;

    @media screen and (min-width: 1320px) {
      max-width: 50%;
    }

    .time-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-bottom: 16px;

      @media screen and (min-width: 480px) {
        flex-direction: row;
        justify-content: flex-start;
      }

      @media screen and (min-width: 1320px) {
        gap: 16px;
      }
    }

    .time-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;

      @media screen and (min-width: 480px) {
        gap: 16px;
        justify-content: flex-start;
      }
    }

    .time {
      font-size: 14px;
      text-align: left;
      color: #057988;

      @media screen and (min-width: 1320px) {
        font-size: 20px;
      }
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      color: #057988;
      margin-bottom: 16px;
      text-align: center;

      @media screen and (min-width: 480px) {
        text-align: left;
      }

      @media screen and (min-width: 1320px) {
        font-size: 32px;
      }
    }

    .subtitle {
      display: none;
      @media screen and (min-width: 764px) {
        margin-bottom: 30px;
        font-size: 20px;
        //
        color: #057988;
        display: block;
      }

      @media screen and (min-width: 1640px) {
      }
    }
  }

  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-frame {
      position: relative;
      min-width: 120px;
      max-width: 120px;
      height: 120px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
      @media screen and (min-width: 1320px) {
        min-width: 160px;
        max-width: 160px;
        height: 160px;
      }
    }
  }
}

::ng-deep .time-wrapper .items-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;

  @media screen and (min-width: 1320px) {
    width: 44px;
    height: 44px;
  }
}

// VIP версия карточки
.vip-card {
  .badge {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 10px;
    max-width: 180px;
    background: #64991f;
    color: #fff;

    @media screen and (min-width: 1320px) {
      font-size: 16px;
    }
  }

  h2 {
    position: relative;
    font-size: 2rem;
    color: #ffd700;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent
      );
      transform: skewX(-20deg);
      animation: shine 4s infinite;
    }
  }

  @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  opacity: 0;
  z-index: 0;
  object-fit: fill;
  display: flex;
  justify-content: center;
  will-change: opacity;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1320px) {
    height: 160px;
  }

  &.img-show {
    opacity: 1;
    z-index: 2;
  }
}
