<div class="card" [class.vip-card]="card.title.includes('Яка ти кава')">
  <span class="badge">🔥 Хіт тестів</span>

  <div class="card-left">
    <div class="time-wrapper">
      <div>
        <mat-icon class="items-icon" svgIcon="clock"></mat-icon>
      </div>
      <p class="time">
        {{ card.time }}
      </p>
    </div>
    <h2 class="title">{{ card.title }}</h2>
    <p class="subtitle">{{ card.subtitle }}</p>

    <div class="btn-wrapper">
      <app-primary-btn
        (onClick)="startTest()"
        [textBtn]="card.buttonText"
      ></app-primary-btn>
    </div>
  </div>
  <div class="card-right">
    <div
      class="carousel-frame"
      [class.smaller-frame]="card.title.includes('Яка ти кава')"
      (mouseenter)="startCarousel()"
      (mouseleave)="stopCarousel()"
    >
      @for (item of card.imgList; track $index) {

      <img
        [src]="this.card.imageUrl + 'carousel/' + item + '.svg'"
        [class.img-show]="currentIndex() === $index"
        c
        class="carousel-img"
        alt="Test image"
      />
      }
    </div>
  </div>
  <div class="btn-wrapper-mob">
    <app-primary-btn
      (onClick)="startTest()"
      [textBtn]="card.buttonText"
    ></app-primary-btn>
  </div>
</div>
