<form
  [formGroup]="personalitiesService.personalityForm"
  *ngIf="personalitiesTest$ | async as questions"
>
  <ng-container *ngFor="let q of questions; let i = index">
    <div class="question-card" [hidden]="currentQuestionNumber !== i + 1">
      <p class="test-score" *ngIf="answers && q.id - 1">
        Відповідь попереднього питання
        <span>{{ q.id - 1 }}. {{ answers }}</span>
      </p>

      <div *ngIf="q">
        <h3>{{ q.id }}.{{ q.question }}</h3>
        <div class="answers">
          <label
            class="radio-label"
            *ngFor="let answer of questions[i].answers; let answerIndex = index"
          >
            <input
              class="radio-btn"
              [formControlName]="q.id.toString()"
              (click)="
                forceChangeControl(q.id, answer.point + '-' + answer.type)
              "
              type="radio"
              [value]="answer.point + '-' + answer.type"
            />
            {{ answer.text }}
          </label>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="btn-wrapper">
    <button
      type="button"
      *ngIf="currentQuestionNumber !== 1"
      (click)="previousQuestion()"
      class="form-btn"
    >
      Назад
    </button>
  </div>
</form>
