// ======================================
// TEST
form {
  button {
    width: 100%;
    padding: 8px;
    max-width: 300px;
    margin-top: 8px;
    font-size: 1.2rem;
    border-radius: 6px;

    color: #fff;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #4caf50;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 764px) {
      padding: 12px;
      margin-bottom: 16px;
    }
  }
}
.personality-test {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.question-card {
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.question-card:hover {
  border: 1px solid #e4bc0b;
}

.question-card h3 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
}

.answers {
  gap: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    gap: 12px;
    padding-left: 40px;
    transition: color 0.3s ease;
    font-size: 1.2rem;

    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      border: 3px solid #fff;
      position: absolute;
      background-color: transparent;
      transition: all 0.3s ease, border-color 0.3s ease;
    }

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);

      position: absolute;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }
  }
  .radio-label:has(.radio-btn:checked)::before {
    border-color: #4caf50;
    background-color: #4caf50;
  }

  .radio-label:has(.radio-btn:checked)::after {
    background-color: #fff;
  }

  .radio-label:hover {
    color: #4caf50;
  }
  input {
    margin-right: 10px;
  }

  input {
    display: none;
  }
}
.btn-wrapper {
  gap: 8px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 764px) {
    gap: 16px;
  }
  button:hover {
    background-color: #45a049;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  .personality-test {
    padding: 20px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .question-card {
    padding: 15px;
  }

  .answers label {
    font-size: 0.9rem;
  }

  button {
    padding: 10px;
    font-size: 1rem;
  }
}
