<div class="test-information">
  <ng-container *ngIf="testInfo$ | async as testInfo">
    <br />
    <h3>{{ testInfo.title }}</h3>
    <p>
      {{ testInfo.description }}
    </p>
    <p *ngFor="let paragraph of testInfo.details">
      {{ paragraph }}
    </p>

    <h3>{{ testInfo.benefits_title }}</h3>
    <ul>
      <li *ngFor="let benefit of testInfo.benefits">{{ benefit }}</li>
    </ul>

    <p class="cta">
      {{ testInfo.cta.text }}
      <strong class="strong-text">{{ testInfo.cta.highlight }}</strong>
    </p>
  </ng-container>
  <app-test-card-start-btn [route]="routeUrl"></app-test-card-start-btn>
</div>
