<div class="test-information">
  <br />
  <h3>Опис теста</h3>
  <p>
    Ви коли-небудь відчували, що у ваших стосунках щось не так, але не могли
    точно визначити, що саме? Іноді токсичність проявляється не через відкрите
    насильство чи приниження, а через постійне відчуття напруги, тривоги або
    невпевненості у собі поруч із партнером.
  </p>

  <p>
    З мого досвіду, багато людей недооцінюють сигнали нездорових стосунків. Вони
    звикають до маніпуляцій, контролю або емоційного шантажу, сприймаючи це як
    "нормальне кохання". Проте здорові стосунки будуються не на страху, провині
    чи підлаштуванні під чужі очікування, а на довірі, підтримці та свободі бути
    собою.
  </p>

  <p>
    Цей тест допоможе вам побачити реальну картину ваших стосунків. Він не лише
    визначить рівень їхньої здоровості, а й покаже тривожні сигнали, які можуть
    стати причиною емоційного виснаження та втрати себе.
  </p>

  <h3>Що ви отримаєте після проходження?</h3>
  <ul>
    <li>✅ Зрозумієте, чи є у ваших стосунках ознаки токсичності.</li>
    <li>✅ Побачите, як партнерська динаміка впливає на ваш емоційний стан.</li>
    <li>
      ✅ Отримаєте поради, як покращити комунікацію та уникнути небезпечних
      сценаріїв.
    </li>
  </ul>

  <p class="cta">
    ❤️ Пройдіть тест прямо зараз і дізнайтеся, наскільки ваші стосунки є
    здоровими. І пам’ятайте:
    <strong class="strong-text"
      >ви заслуговуєте на гармонійні взаємини, в яких є підтримка, розуміння та
      свобода бути собою.</strong
    >
  </p>
  <app-test-card-start-btn [route]="routeUrl"></app-test-card-start-btn>
</div>
