<section class="tests">
  <div class="container">
    <div>
      <app-title-card
        [imgUrl]="imgUrl"
        [titleText]="titleText"
        [subtitleText]="subtitleText"
      ></app-title-card>
      <ul class="test-list">
        <li
          class="test-card"
          [ngClass]="test.cardClass"
          *ngFor="let test of testData"
        >
          <h3>{{ test.title }}</h3>
          <p>{{ test.description }}</p>

          <img class="test-img" [src]="test.testSvg" alt="" />
          <div class="test-card-buttons">
            <app-test-card-start-btn
              [route]="test.routeStart"
              class="btn-start"
            ></app-test-card-start-btn>
            <app-test-card-info-btn
              [route]="test.routeInfo"
              class="btn-info"
            ></app-test-card-info-btn>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
