.tests {
  width: 100%;
  padding: 30px 0;
  color: #fff;
  text-align: center;

  @media screen and (min-width: 764px) {
    padding: 40px 20px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-description {
    font-size: 16px;
    margin-bottom: 24px;
    color: #f5f5f5;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      font-size: 18px;
    }
  }

  .test-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .test-card {
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    gap: 8px;

    border: 2px solid #16213e;
    text-align: center;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    @media screen and (min-width: 768px) {
      padding: 24px;
    }

    ::ng-deep app-test-card-start-btn {
      max-width: 50%;
    }
    .test-svg {
      position: absolute;
      width: 54px;
      height: 54px;
      bottom: 8px;
      left: 8px;
      @media screen and (min-width: 764px) {
        top: 8px;
        left: 8px;
        width: 84px;
        height: 84px;
      }
    }
    h3 {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 400;

      color: #ccc;
      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 100;
      margin-bottom: 20px;

      color: #f1f1f1;
      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
