.tests {
  color: #fff;
  text-align: center;
  max-width: 1320px;
  padding: 18px;
  margin: 0 auto;

  @media screen and (min-width: 764px) {
    padding: 32px 18px;
  }
}
.header-container {
  margin: 0 auto;
  gap: 10px;
  padding: 40px 8px;
}

.text-container {
  margin-bottom: 26px;
  border-radius: 15px;
  gap: 8px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fff;

  @media screen and (min-width: 764px) {
    margin-bottom: 30px;
    border-radius: 20px;
    gap: 20px;
    padding: 40px 16px;
  }
  @media screen and (min-width: 1320px) {
  }

  h2,
  p {
    text-align: center;
  }
}
//========================

.title-card {
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
//=======================
.test-list {
  gap: 18px;
  padding: 24px 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 764px) {
    gap: 58px;
    padding: 44px 16px;
    //
  }
  @media screen and (min-width: 1320px) {
    justify-content: flex-start;
  }
}
.tests-container {
  margin-top: 24px;
  @media screen and (min-width: 764px) {
    margin-top: 44px;
  }
  @media screen and (min-width: 1320px) {
    margin-top: 64px;
  }
}

.category-wrapper:last-child {
  margin-bottom: 0;
}
.category-wrapper {
  margin-bottom: 30px;

  @media screen and (min-width: 1320px) {
    margin-bottom: 64px;
  }

  .category-title {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    font-weight: 600;
    @media screen and (min-width: 1320px) {
      margin-bottom: 64px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 100%;
      max-width: 1320px;
      height: 1px;
      background: #003d45;
    }
  }
}
//

/* tags-filter.component.css */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  button {
    padding: 6px 10px;
    transition: 0.3s;
    border-radius: 16px;
    font-size: 12px;

    border: 1px solid #aaa;
    background-color: #f0f0f0;
    cursor: pointer;

    @media screen and (min-width: 764px) {
      padding: 8px 12px;
      font-size: 14px;
    }
  }

  button.active {
    background-color: #1976d2;
    color: #fff;
    border-color: #1976d2;
  }
}
